{% macro render(args) %}
    <div class="content-section-19 content-section-19--2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 offset-xl-2 col-lg-6 col-md-8 col-sm-10 col-xs-11 order-lg-2">
                    <div class="content-section-19__image-group">
                        <img src="./image/about/content-1.png" alt="content-img" class="mw-100">
                        <div class="content-section-19__image-group--card">
                            <img src="./image/about/content-1-card.png" alt="image-card" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-11 order-lg-1">
                    <div class="block-title content-section-19__content">
                        <h2 class="title">Custer manage and grow your business</h2>
                        <p class="text-dark">An enim nullam tempor sapien gravida donec enim ipsum<br class="d-none d-xs-block"> porta  justo integer at odio velna vitae auctor integer congue </p>
                        <ul class="content-section-19__content--list">
                            <li>
                                <img src="./image/about/check.svg" class="make-it-inline" alt="check"> Boost SEO</li>
                            <li>
                                <img src="./image/about/check.svg" class="make-it-inline" alt="check"> Manage Buying</li>
                            <li>
                                <img src="./image/about/check.svg" class="make-it-inline" alt="check"> Visual Reviews</li>
                            <li>
                                <img src="./image/about/check.svg" class="make-it-inline" alt="check"> Buyer Protection</li>
                            <li>
                                <img src="./image/about/check.svg" class="make-it-inline" alt="check"> Social Sharing</li>
                            <li>
                                <img src="./image/about/check.svg" class="make-it-inline" alt="check"> Virtual Card</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}