{% macro render(args) %}
    <div class="content-section-24">
        <div class="content-section-24__shape-1">
            <img src="./image/service/shape.svg" alt="shape" class="w-100">
        </div>
        <div class="content-section-24__shape-2">
            <img src="./image/service/dots.svg" alt="shape" class="w-100">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="content-section-24__tab">
                        <h4 class="content-section-24__tab--title">Services</h4>
                        <div class="nav flex-column nav-pills">
                            <button class="nav-link active">Wealth Nuturing</button>
                            <button class="nav-link">App Integration</button>
                            <button class="nav-link">Steady Growth</button>
                            <button class="nav-link">Guarantee of Quality</button>
                            <button class="nav-link">Best Email Templates</button>
                            <button class="nav-link">Stratagy & Research</button>
                            <button class="nav-link">Marketing & Advertising</button>
                            <button class="nav-link">Boost SEO Ranking</button>
                            <button class="nav-link">Daily Reports</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 offset-xl-1 col-lg-8 col-md-8">
                    <div class="content-section-24__tab-content">
                        <div class="content-section-24__tab-content--img">
                            <img src="./image/service/service-img-1.png" alt="service-img" class="mw-100">
                        </div>
                        <p class="text-dark text">
                        As independent wealth planners, we can work with you in a clear, transparent
                        partnership, and offer you objective, comprehensive advice.
                        <br>
                            <br>
                        No matter how complex your finances or personal situation, we have the expertise and
                        market-leading tools at our disposal to provide you with sophisticated and
                        forward-thinking advice, tailored precisely to your needs.
                        <br>
                            <br>
                        Your personal wealth adviser will consider your finances as a whole to ensure your
                        plans, savings and investments are working hard, and harmoniously together, to achieve
                        your objectives both now and in the future.
                    </p>
                        <div class="content-section-24__tab-content--widget">
                            <h3 class="title"> Why this service is important?</h3>
                            <div class="widget">
                                <div class="widget--icon icon-bg-1">
                                    <img src="./image/service/widget-icon-1.svg" class="make-it-inline" alt="widget-icon">
                                </div>
                                <div class="widget--text">
                                    <p class="heading-dark">
                                        <span>Investment management:</span> Our expert Investment Managers can run a personalised investment portfolio on your behalf or support you in making your own investment decisions</p>
                                </div>
                            </div>
                            <div class="widget">
                                <div class="widget--icon icon-bg-2">
                                    <img src="./image/service/widget-icon-2.svg" class="make-it-inline" alt="widget-ion">
                                </div>
                                <div class="widget--text">
                                    <p class="heading-dark">
                                        <span>personal wealth planning:</span> Our expert Investment Managers can run a personalised investment portfolio on your behalf or support you in making your own investment decisions</p>
                                </div>
                            </div>
                            <div class="widget">
                                <div class="widget--icon icon-bg-3">
                                    <img src="./image/service/widget-icon-3.svg" class="make-it-inline" alt="widget-icon">
                                </div>
                                <div class="widget--text">
                                    <p class="heading-dark">
                                        <span>Protect yourself from fraud:</span> Our expert Investment Managers can run a personalised investment portfolio on your behalf or support you in making your own investment decisions</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}