{% macro render(options) %}
    {% import "components/_widget.njk" as Widget %}
    {% set featureData = [
        {
            id:1,
            title: "Market Research",
            tag: "1",
            text: "Combined with a handful of model <br class='d-none  d-md-block'/> sentence structures looks reasonable."
        }, {
            id:2,
            title: "Strategy & Direction",
            tag: "2",
            text: "Sed ut perspiciatis unde omnis iste natus <br class='d-none  d-lg-block'/> error sit voluptatem accusantium."
        }, {
            id:3,
            title: "Brand Marketing",
            tag: "3",
            text: "Marketing chart dolor sit ametu nde <br class='d-none  d-lg-block'/> omnis iste natus adipisicing elit."
        }, {
            id:4,
            title: "Smart Scaling",
            tag: "4",
            text: "Drop ipsum dolor sit amet sit ametu nde <br class='d-none  d-lg-block'/> omnis iste natus adipisicing elit."
        }
    ] %}
    <div class="content-section-04">
        <div class="scetion-shape">
            <img src="./image/home-2/section-shape-2.png" alt="shape" class="w-100">
        </div>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-8 col-xs-11">
                    <div class="content-texts block-title text-center text-lg-start">
                        <h6 class="subtitle text-primary">How It Works</h6>
                        <h2 class="title ">Acceleration process to <br class="d-none d-xl-block"> grow your business.</h2>
                        <p class="text-dark">There are many scenarios that could result in initiated attacks.<br class="d-none d-xl-block">
                        These can be an giving away login credentials.</p>
                        <a href="#" class="btn btn-secondary btn-secondary-hvr">Live Demo</a>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6 col-md-10 col-xs-10">
                    <div class="row justify-content-center content-section-04__widget">
                        {% for item in featureData %}
                            <div class="col-lg-12 col-sm-6 col-10" data-aos="fade-up" data-aos-delay="{{ 200 * item.id }}" data-aos-duration="1000">
                                {{Widget.normal({
                                    modifier:"widget-content--02 widget-column-till-md ",
                                    iconText:item.tag,
                                    title:item.title,
                                    text:item.text,
                                    mode:"dark"
                                })}}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}