{% macro render(options) %}
    <div class="content-section-03">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-xxl-5 col-xl-6 col-md-8  col-xs-11 mb-mobile-lg">
                    <div class="video-block video-block--02" data-aos="zoom-in" data-aos-duration="800">
                        <img src="./image/home-2/content-1.png" alt="content-image" class="w-100">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xxl-6 col-md-9 col-xl-6 offset-xxl-1 col-xs-11 " >
                    <div class="content-section-03__texts block-title text-center text-lg-start" data-aos="fade-left" data-aos-duration="800">
                        <h6 class="subtitle text-primary">Why Choose Us</h6>
                        <h2 class="title">Starting with sofex is <br class="d-none d-sm-block"> easier than anything!</h2>
                        <p class="text-dark">Vero homero perfecto mei ut, sonet aperiam an nec. Ni<br class="d-none d-xl-block"> nec dict altera legimu. Me vita de lege ndo haeo tibi que<br class="d-none d-xl-block"> com titure viset cut.Proin tempus elit a laoreet volut pat.</p>
                        <a href="#" class="btn btn-secondary btn-secondary-hvr">Download Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}