{% macro render(args) %}
    <div class="hero-section-02 bg-gradient-primary-secondary">
        <div class="hero-section-02__shape">
            <img src="./image/home-2/hero-shape.png" alt="hero-section-shape" class="w-100">
        </div>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xxl-6 col-xl-5 col-lg-6 col-md-10 col-xs-11 order-lg-2 ">
                    <div class="hero-section-02__image-group mb-mobile-lg"  data-aos="fade-left" data-aos-delay="1300"  data-aos-duration="1000">
                        <img src="./image/home-2/hero-img.png" alt="hero-image" class="w-100">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-7 col-lg-6 col-md-9 col-xs-11 order-lg-1">
                    <div class="hero-content hero-section-02__content"  data-aos="fade-up" data-aos-delay="1300"  data-aos-duration="1000">
                        <h1 class="heading-light title">We're building software for boost your business</h1>
                        <p class="text-light">An enim nullam tempor sapien gravida donec enim ipsum porta justointeger at odio velna vitae auctor integer congue magna at pretium purus pretium ligula rutrum luctus risus</p>
                        <a href="#" class="btn hero-btn btn-white rounded">Start 14 Days Free Trial</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}