{% macro render(args) %}
    <div class="content-section-11">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-9 col-sm-10 col-xs-11 offset-xl-1 order-lg-2">
                    <div class="content-section-11__image-group text-center mb-mobile-lg" data-aos="fade-left" data-aos-duration="800">
                        <img src="./image/home-5/content-1.png" alt="content-image" class="w-100">
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-9 col-sm-10 col-xs-11order-lg-1">
                    <div class="content-section-11__texts" data-aos="fade-right" data-aos-duration="800">
                        <div class="block-title content-title">
                            <h6 class="subtitle text-secondary">Why choose appmax</h6>
                            <h2 class="title">Appmax is the best online learning platform</h2>
                            <p class="text-dark">An enim nullam tempor sapien gravida donec enim ipsum porta justo inicon-blocker
                            at odio velna vitae auctor inicon-blocker congue magna at pretium puru.</p>
                        </div>
                        <div class="content-section-11__texts--accordion">
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                    <div class="accordion-header" id="panelsStayOpen-headingOne">
                                        <h6 class="icon-block icon-red">1</h6>
                                        <button class="accordion-button header-dark" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseOne">
                                        650+ different types of courses
                                    </button>
                                    </div>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="panelsStayOpen-headingOne">
                                        <p class="accordion-body text-dark">
                                        With lots of unique blocks you can easily create a page without coding with Appmax
                                    </p>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="panelsStayOpen-headingTwo">
                                        <h6 class="icon-block icon-green">2</h6>
                                        <button class="accordion-button collapsed header-dark" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseTwo">
                                        2800+ students from all over the world
                                    </button>
                                    </div>
                                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="panelsStayOpen-headingTwo">
                                        <p class="accordion-body text-dark">
                                        With lots of unique blocks you can easily create a page without coding with Appmax
                                    </p>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="panelsStayOpen-headingThree">
                                        <h6 class="icon-block icon-blue">3</h6>
                                        <button class="accordion-button collapsed header-dark" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseThree">
                                        Teaching by 600+ experienced teachers
                                    </button>
                                    </div>
                                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="panelsStayOpen-headingThree">
                                        <p class="accordion-body text-dark">
                                        With lots of unique blocks you can easily create a page without coding with Appmax
                                    </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}