{% macro render(args) %}
    <div class="content-section-12">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-8 col-xs-9 col-11">
                    <div class="content-section-12__image-group">
                        <img src="./image/home-5/content-2.png" alt="content-2">
                        <div class="content-section-12__image-group--group" data-aos="fade-up" data-aos-delay="1300"  data-aos-duration="1000">
                            <img src="./image/home-5/content-2-group.png" alt="content-2-group" class="w-100">
                        </div>
                        <div class="content-section-12__image-group--dots"  data-aos="fade-left" data-aos-delay="1300"  data-aos-duration="1000">
                            <img src="./image/home-5/dots.svg" alt="content-2-group" class="w-100">
                        </div>
                        <div class="content-section-12__image-group--shape" data-aos="fade-right" data-aos-delay="1300"  data-aos-duration="1000">
                            <img src="./image/home-5/content-2-shape.svg" alt="content-2-group" class="w-100 make-it-inline fill-tertiary">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-7 col-sm-8 col-xs-9"  data-aos="fade-up" data-aos-delay="500"  data-aos-duration="1000">
                    <div class="block-title content-title">
                        <h6 class="subtitle text-secondary mb-20">
                            Learn anything
                        </h6>
                        <h2 class="title">Learn fast & easily with our app.</h2>
                        <p class="text-dark">An enim nullam tempor sapien gravida donec enim ipsum porta justo integer at odio velna vitae auctor integer congue magna at pretium purus.</p>
                        <a class="btn btn-primary btn-primary-hvr" href="#">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}