{% macro render(args) %}
    <div class="cta-section-05 cta-bg-group-2">
        <div class="cta-bg-group-2--shape-1">
            <img src="./image/home-5/cta-shape-1.svg" class="make-it-inline" alt="shape">
        </div>
        <div class="cta-bg-group-2--shape-2">
            <img src="./image/home-5/cta-shape-2.svg" class="make-it-inline" alt="shape">
        </div>
        <div class="container">
            <div class="cta-section-05__wrapper overflow-hidden">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-md-10 col-sm-11 col-xs-12" data-aos="fade-up"
                    data-aos-duration="800">
                        <div class="cta-section-05__contennt">
                            <div class="block-title text-center">
                                <h2 class="heading-light title">Want us to email you about special <br class=" d-none d-xs-block"> offers & updates?</h2>
                            </div>
                            <form action="/" class="form-subscribe-inline--01 cta-section-05__newsletter">
                                <input type="email" placeholder="Enter your email address" class="form-control"/>
                                <button class="btn btn-primary btn-primary-hvr">Subscribe Now</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="cta-section-05__wrapper--shape-1" data-aos="fade-left" data-aos-delay="1000"  data-aos-duration="1000">
                    <img src="./image/home-5/cta-shape-1.svg" class="make-it-inline" alt="shape">
                </div>
                <div class="cta-section-05__wrapper--shape-2" data-aos="fade-left" data-aos-delay="1500"  data-aos-duration="1000">
                    <img src="./image/home-5/cta-shape-2.svg" class="make-it-inline" alt="shape">
                </div>
                <div class="cta-section-05__wrapper--shape-3 floating-Y-animation-reverse-03">
                    <img src="./image/home-5/cta-shape-3.svg" class="make-it-inline" alt="shape">
                </div>
                <div class="cta-section-05__wrapper--shape-4 floating-X-animation-reverse-01">
                    <img src="./image/home-5/cta-shape-4.svg" class="make-it-inline" alt="shape">
                </div>
            </div>
        </div>
    </div>
{% endmacro %}