{% macro render(args) %}
    <div class="hero-section-05">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-6 col-sm-7 col-xs-11">
                    <div class="hero-section-05__content hero-content mb-mobile-lg">
                        <h1 class="title mb-20">Growth your career through online education</h1>
                        <p class="text-dark text">An enim nullam tempor sapien gravida donec enim ipsum portajusto congue magna
                        at pretium purus pretium ligula </p>
                        <a class="btn hero-btn btn-primary btn-primary-hvr btn-w-arrow btn-arrow-anim-01" href="#"> Get your card
                        <i><img src="./image/icons/icon-arrow-button.svg" class="make-it-inline" alt="icon"></i>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-5 col-xs-11 offset-xxl-1">
                    <div class="hero-section-05__image-group"  data-aos="fade-left" data-aos-delay="1300"  data-aos-duration="1000">
                        <img src="./image/home-5/hero-right.png" alt="hero-img" class="w-100">
                        <div class="hero-section-05__image-group--shape floating-Y-animation">
                            <img src="./image/home-5/hero-img-shape.svg" class="w-100 make-it-inline" alt="shape">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-section-05__shape-1 floating-Y-animation-reverse-02">
            <img src="./image/home-5/shape-left.svg" alt="shape" class="w-100 make-it-inline">
        </div>
        <div class="hero-section-05__shape-2">
            <img src="./image/home-5/shape-right.svg" alt="shape" class="w-100 make-it-inline">
        </div>
        <div class="hero-section-05__shape-3 circle-animation">
            <img src="./image/home-5/shape-center.svg" alt="shape" class="w-100 make-it-inline fill-tertiary">
        </div>
    </div>
{% endmacro %}