{% macro render(args) %}
    <div class="content-section-10">
        <div class="container">
            <!-- Section Title -->
            <div class="text-center section-title content-section-10__content content-title">
                <h6 class="subtitle text-secondary mb-20">See Inside App</h6>
                <h2 class="title">Start your learning <br class="d-xs-block d-none"> journey with Appmax!</h2>
                <p class="text-dark">An enim nullam tempor sapien gravida donec enim ipsum <br class="d-xs-block d-none">
                porta justo integer at odio velna vitae auctor integer.</p>
            </div>
            <!-- End Section Title -->
        </div>
        <!-- Screenshot Area -->
        <div class="screenshot-slider-wrapper-10">
            <div class="screenshot-slider">
                <!-- single-slide Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/home-5/screenshot/1.png" alt="ss"/>
                    </div>
                </div>
                <!-- / .single-slide Area -->
                <!-- single-slide Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/home-5/screenshot/2.png" alt="ss"/>
                    </div>
                </div>
                <!-- / .single-slide Area -->
                <!-- single-slide Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/home-5/screenshot/3.png" alt="ss"/>
                    </div>
                </div>
                <!-- / .single-slide Area -->
                <!-- single-slide Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/home-5/screenshot/4.png" alt="ss"/>
                    </div>
                </div>
                <!-- / .single-slide Area -->
                <!-- single-slide Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/home-5/screenshot/5.png" alt="ss"/>
                    </div>
                </div>
                <!-- / .single-slide Area -->
                <!-- Screenshot Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/home-5/screenshot/3.png" alt="ss"/>
                    </div>
                </div>
            </div>
            <!-- / .Screenshot Area -->
            <div class="phone-bg-img">
                <img src="./image/home-5/screenshot/frame.png" alt="frame"/>
            </div>
        </div>
        <div class="screenshots-dots"></div>
        <!-- / .Screenshot Area -->
    </div>
{% endmacro %}