{% macro render(args) %}
    <div class="video-section-02" style="background-image: url(./image/home-5/video.png);">
        <div class="container">
            <div class="video-block" >
                <a href="https://www.youtube.com/watch?v=LWZ7iytIA6k" data-fancybox class="video-btn popup-btn video-btn-1 text-secondary bg-white">
                    <i class="fas fa-play text-primary"></i>
                </a>
                <p class="heading-light video-block--text">Watch a Quick Tutorial</p>
            </div>
        </div>
    </div>
{% endmacro %}