{% macro render(options) %}
    {% import "components/_widget.njk" as Widget %}

    {% set counterData =[
        {
        title:"<span class='counter'>28</span>K",
        text:"Trusted Users"
        },
        {
        title:"<span class='counter'>13</span>K",
        text:"5 Star Ratings"
        }

]%}
    <div class="counter-section-10">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-4 col-lg-5 mb-mobile-lg" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000">
                    <div class="counter-section-10__widget">
                        {%for item in counterData %}
                            {{Widget.counter({
                            modifier:"widget-column-center widget-counter",
                            titleClass:item.color,
                            title:item.title,
                            text:item.text
                        })}}
                            {%endfor%}
                        </div>
                    </div>
                    <div class="col-xl-6 offset-xl-2 col-lg-7 col-md-10 col-xs-11" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
                        <div class="block-title counter-section-10__content text-center text-lg-start">
                            <h2 class="title">
                                <span>1000+</span> companies trust us with their email marketing</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endmacro %}