{% macro render(args) %}
    {% import "components/_widget.njk" as Widget %}

    {% set featureData = [
{   id:1,
    title:"Email Deliverability",
    icon:"./image/home-10/f-icon-1.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Custer easily."
},
{   id:2,
    title:"Unlimited Email Sends",
    icon:"./image/home-10/f-icon-2.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Custer easily."
},
{   id:3,
    title:"Never Get Stuck",
    icon:"./image/home-10/f-icon-3.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Custer easily."
},
{   id:4,
    title:"Media Messages",
    icon:"./image/home-10/f-icon-4.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Custer easily."
},
{   id:5,
    title:"Dedicated Server",
    icon:"./image/home-10/f-icon-5.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Custer easily."
},
{   id:6,
    title:"Responsive App",
    icon:"./image/home-10/f-icon-6.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Custer easily."
}

] %}
    <div class="feature-section-07">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-title text-center">
                    <h6 class="subtitle text-secondary mb-20">Features</h6>
                    <h2 class="title">Custer email marketing<br class="d-none d-xs-block"> core features</h2>
                </div>
            </div>
            <div class="row justify-content-center justify-content-sm-start feature-widgets-row-02">
                {% for item in featureData %}
                    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-8" data-aos="fade-up" data-aos-delay="{{ 200 * item.id }}" data-aos-duration="1000">
                        <a href="#">
                            {{Widget.column({
                                modifier:"feature-section-07__card",
                                iconImage:item.icon,
                                fontImg:true,
                                title:item.title,
                                text:item.text,
                                mode:"dark"
                            })}}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}