{% macro render(args) %}
    <div class="hero-section-10">
        <div class="hero-section-10__rectangle">
            <img src="./image/home-10/hero-rectangle.png" alt="shape">
        </div>
        <div class="hero-section-10__shape-1">
            <img src="./image/home-10/hero-shape-1.svg" class="w-100" alt="shape">
        </div>
        <div class="hero-section-10__shape-2 circle-animation">
            <img src="./image/home-10/hero-shape-2.svg" class="w-100" alt="shape">
        </div>
        <div class="hero-section-10__shape-3 floating-Y-animation-reverse-03">
            <img src="./image/home-10/hero-shape-3.svg" class="w-100" alt="shape">
        </div>
        <div class="hero-section-10__shape-4" data-aos="fade-left" data-aos-delay="1300" data-aos-duration="1000">
            <img src="./image/home-10/dots.svg" alt="shape" class="w-100">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                    <div class="hero-section-10__content hero-content">
                        <h1 class="title heading-light">Appmax is the best email marketing software</h1>
                        <p class="text-light text">An enim nullam tempor sapien gravida donec enim ipsum porta <br class="d-none d-xs-block"> justo  congue tempor sapien gravida donec enim </p>
                        <div class="hero-section-10__content--btn-group">
                            <a class="btn hero-btn btn-primary btn-primary-hvr" href="#">Try for free</a>
                            <a class="btn-2 text-white" href="#">
                                <img src="./image/home-10/button-play.svg" alt="button play">
                                Watch the intro video</a>
                        </div>
                    </div>
                    <div class="hero-section-10__image-group text-center" data-aos="fade-up" data-aos-delay="1300" data-aos-duration="1000">
                        <img src="./image/home-10/hero.png" class="mw-100" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}