{% macro render(args) %}
    {% import "components/Cards/pricings.njk" as PricingCard %}
    <div class="pricing-section-06">
        <div class="pricing-section-06__shape" data-aos="fade-right" data-aos-delay="1300" data-aos-duration="1000">
            <img src="./image/home-10/dots.svg" class="w-100" alt="shape">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title pricing-section-06__title">
                        <h6 class="subtitle text-secondary mb-20">Pricing & Plans </h6>
                        <h2 class="title">We have exclusive  plan <br class="d-none d-xs-block"> in our pricing</h2>
                    </div>
                </div>
            </div>
            <div class="row pricing-sider three-row-mobile-slider mobile-slider">
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                    {{PricingCard.Five({
          plan:"Starter",
          price:"5.00",
          listOne:"10 GB Disk Space",
          listTwo:"1 Year Support",
          listThree:"Free Custom Domain"
        })}}
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                    {{PricingCard.Five({
                        activeClass:"active",
            btnActive:"active",
            plan:"Basic",
            price:"45.00",
            listOne:"500 GB Disk Space",
            listTwo:"5 Year Support",
            listThree:"Basic Statistics"
          })}}
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
                    {{PricingCard.Five({
            plan:"Premium",
            price:"230.00",
            listOne:"800 GB Disk Space",
            listTwo:"Unlimitedr Support",
            listThree:"Full Statistics"
          })}}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}