{% macro render(args) %}
    {% import "components/Cards/cards.njk" as Card %}

    {% set TestimonilData =[
        {
        img:"./image/home-9/testimonial-1.png",
        name:"Mila McSabbu",
        skill:"Digital Marketer",
        text:"OMG! I cannot believe that I have got a brand new landing page after getting appmax. It was super easy to edit and publish.I have got a brand new landing page."
        },
        {
        img:"./image/home-9/testimonial-2.png",
        name:"Jenny Wilson",
        skill:"Graphic Designer",
        text:"OMG! I cannot believe that I have got a brand new landing page after getting appmax. It was super easy to edit and publish.I have got a brand new landing page."
        },
        {
        img:"./image/home-9/testimonial-2.png",
        name:"Jenny Wilson",
        skill:"Graphic Designer",
        text:"OMG! I cannot believe that I have got a brand new landing page after getting appmax. It was super easy to edit and publish.I have got a brand new landing page."
        }


]%}
    <div class="testimonial-section-09">
        <div class="container">
            <div class="section-title testimonial-section-09__title text-center">
                <h6 class="subtitle text-secondary mb-20">Testimonial</h6>
                <h2 class="title">We are happy to share our <br class="d-none d-xs-block"> client’s review</h2>
            </div>
            <div class="testimonial-section-09__slider testimonial-section-09--02 testimonial-slider--05 mobile-slider">
                {%for item in TestimonilData %}
                    <div class="single-sider">
                        {{Card.Testimonil05({
                        img:item.img,
                        name:item.name,
                        skill:item.skill,
                        text:item.text
                    })}}
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
{% endmacro %}