{% macro render(options) %}
    {% import "components/_widget.njk" as Widget %}
    {% set featureData = [
    {
        title:"Free updates forever",
        icon:"./image/home-1/content-icon-3.png",
        text:"Your well-oiled machine doesn’t have to <br class='d-none d-lg-block'/> break down due to build processes."
    },
    {
        title:"Responsive web design",
        icon:"./image/home-1/content-icon-2.png",
text:"Your well-oiled machine doesn’t have to <br class='d-none d-lg-block'/> break down due to build processes."
    },
    {
        title:"Loaded with features",
        icon:"./image/home-1/content-icon-1.png",
text:"Your well-oiled machine doesn’t have to <br class='d-none d-lg-block'/> break down due to build processes."
    }

] %}
    <div class="content-section-02">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10 col-xs-10">
                    <div class="content-section-02__image mb-mobile-lg">
                        <img src="./image/home-1/content-2.png" alt="content-img" class="w-100">
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6 col-md-9 col-xs-11">
                    <div class="block-title text-center text-lg-start" data-aos="fade-up" data-aos-duration="800">
                        <h2 class="title">Boost productivity <br class="d-none d-lg-block"/>  with best creativity</h2>
                        <p class="text-dark">Your well-oiled doesn’t have to down due to complex <br class="d-none d-lg-block"/>  processes, or lack of time to enforce consistency.</p>
                    </div>
                    <div class="row justify-content-center content-section-02__widget">
                        {% for item in featureData %}
                            <div class="col-xl-12 col-lg-12 col-md-10 col-xs-9 col-10" data-aos="fade-up" data-aos-duration="800">
                                {{Widget.normal({
                                modifier:"widget-content widget-column-till-md",
                                iconImage:item.icon,
                                title:item.title,
                                text:item.text,
                                mode:"dark"
                            })}}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}