{% macro render(options) %}
    <div class="content-section-01 bg-primary">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-4 col-lg-5 offset-lg-1 col-md-6 col-sm-6 col-xs-5 col-7">
                    <div class="content-section-01__image-group">
                        <div class="content-section-01__image">
                            <img src="./image/home-1/content-image-group-main.png" class="w-100" alt="mobile-imag">
                            <div class="small-shape">
                                <img src="./image/home-1/content-shape-01.svg" alt="mobile-shape" class="make-it-inline fill-tertiary">
                            </div>
                            <div class="shape-half-circle" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
                                <img src="./image/home-1/content-shape-02.svg" alt="mobile-shape" class="make-it-inline fill-tertiary">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-lg-6 col-md-9 col-xs-11">
                    <div class="block-title content-section-01__text text-center text-lg-start" data-aos="fade-up" data-aos-duration="800">
                        <h2 class="title heading-light">We develop digital <br class="d-none d-lg-block" > strategies products <br class="d-none d-lg-block" > and services.</h2>
                        <p class="text-light">Vero homero perfecto mei ut, sonet aperiam an nec. Ni <br class="d-none d-xl-block" >  nec dict altera legimu. Me vita de lege ndos expet end is<br class="d-none d-xl-block" >  ad.mita aliu mi ando, haeo tibi que com titure viset<br class="d-none d-xl-block" >  cut.Proin tempus elit a laoreet volut pat. </p>
                        <div class="content-section-01__button-group">
                            <a href="https://www.apple.com/app-store/">
                                <img src="./image/home-1/app-store.png" alt="sponsor">
                            </a>
                            <a href="https://play.google.com/">
                                <img src="./image/home-1/play-store.png" alt="sponsor">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-shape transform-origin-top-right"  data-aos-delay="200" data-aos-duration="1000" data-aos="zoom-in">
            <img src="./image/home-1/content-shape-03.svg" alt="mobile-shape" class="make-it-inline fill-tertiary w-100 ">
        </div>
    </div>
{% endmacro %}