{% macro render(args) %}
    <div class="cta-section-01 bg-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-9 col-xs-11">
                    <div class="block-title text-center">
                        <h2 class="title heading-light">Join of our community of 10,0000 users of the world’s leading
                        organizations</h2>
                    </div>
                    <form action="/" class="form-subscribe-inline--01 cta-section-01__newsletter">
                        <input type="email" placeholder="Enter your email" class="form-control"/>
                        <button class="btn btn-secondary btn-secondary-hvr">Subscribe Now</button>
                    </form>
                </div>
            </div>
            <div class="cta-section-01--shapes">
                <div class="cta-shape cta-shape--01 overflow-hidden">
                    <div class="transform-origin-top-right" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="500">
                        <img src="./image/home-1/cta-shape-1.svg" alt="shape" class="make-it-inline fill-tertiary"></div>
                </div>
                <div class="cta-shape cta-shape--02">
                    <img src="./image/home-1/cta-shape-2.svg" alt="shape" class="make-it-inline fill-tertiary">
                </div>
                <div class="cta-shape cta-shape--03" data-aos="fade-right"
                    data-aos-duration="900" data-aos-delay="500">
                    <img src="./image/home-1/cta-shape-3.svg" alt="shape" class="make-it-inline fill-tertiary">
                </div>
            </div>
        </div>
    </div>
{% endmacro %}