{% macro render(options) %}
    <div class="testimonial-section-01">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-9 col-xs-11 order-2 order-lg-1 text-center text-lg-start">
                    <div class="section-title testimonial-title">
                        <h2 class="title">What clients are saying</h2>
                    </div>
                    <div class="testimonil-slider--01">
                        <div class="slide">
                            <div class="testimonil-content">
                                <img src="./image/home-1/quotes.svg" alt="icon">
                                <p class="text-dark text">Leading an organization is incredibly rewarding and equally humbling. Confidence and humility. Every success is
                                built on  lessons from mistakes made is incredibly
                                rewarding and  equally humbling. It requires healthy.
                            </p>
                                <div class="client-info">
                                    <h6>- Mila McSabbu</h6>
                                    <span>Freelance Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="testimonil-content">
                                <img src="./image/home-1/quotes.svg" alt="icon">
                                <p class="text-dark text">When potential customers are researching you online, they're getting to know you by way of the content
                                lessonsfrom mistakes made is incredibly rewarding and
                                 on your website. Understandably,</p>
                                <div class="client-info">
                                    <h6>- Margot Whitney</h6>
                                    <span>Freelance Developer</span>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="testimonil-content">
                                <img src="./image/home-1/quotes.svg" alt="icon">
                                <p class="text-dark text">This is best and biggest unified platform
                                for instant online admission. We can easily
                                take admission for any course in any institute.</p>
                                <div class="client-info">
                                    <h6>- Lindsay Kolowich</h6>
                                    <span>Freelance SEO</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonil-slider--01__control-buttons">
                        <button class="button button--prev"><img src="./image/home-1/arrow-left.svg"
                            class="make-it-inline"/></button>
                        <button class="button button--next"><img src="./image/home-1/arrow-right.svg"
                            class="make-it-inline"/></button>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-5 col-md-9 col-xs-10 order-1 order-lg-2">
                    <div class="testimonil-imageGroup" data-aos="zoom-in" data-aos-duration="800">
                        <img src="./image/home-1/testimonil.png" alt="client-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}