{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "sections/error/_content.njk" as ErrorSection %}
{% import "components/footer/_footer-2.njk" as FooterSection %}
{% set PAGE_INFO = {
    color_scheme : "1"
}
%}
{% block main %}
  {{Header.render({
    additional_header_class:"site-header--menu-center site-header--menu-center-adjustment bg-transparent site-header--logo-dark mobile-menu-trigger-dark",
    absolute_header:true,
    header_double_button:true,
    header_button:false,
    additional_db_classes:"site-header__btns--404",
    header_button_class_1:"btn btn-transparent btn-1",
    header_button_text_1 :"Login",
    header_button_class_2:"btn btn-primary btn-primary-hvr btn-2 rounded",
    header_button_text_2 :"Sign Up"
  })}}
  <!-- Error Content Section Start -->
  {{ErrorSection.render()}}
  <!-- Error Content Section End -->
  <!-- Footer Section Start -->
  {{FooterSection.render()}}
  <!-- Footer Section End -->
{% endblock %}