{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "sections/about/_breadcrumb.njk" as BreadcrumbSection %}
{% import "components/_cta.njk" as CtaSection %}
{% import "sections/about/_brand.njk" as BrandSection %}
{% import "sections/about/_fact.njk" as FactSection %}
{% import "sections/about/_content-1.njk" as ContentOneSection %}
{% import "sections/about/_team.njk" as TeamSection %}
{% import "sections/about/_video.njk" as VideoSection %}
{% import "sections/about/_about.njk" as AboutSection %}
{% import "components/footer/_footer-2.njk" as FooterSection %}
{% set PAGE_INFO = {
    color_scheme : "1"
  }
%}
{% block main %}
  {{Header.render(innerPageHeader)}}
  <!-- Breadcrumb Section Start -->
  {{BreadcrumbSection.render()}}
  <!-- Breadcrumb Section End -->
  <!-- Video Section Start -->
  {{VideoSection.render()}}
  <!-- Video Section End -->
  <!-- About Section Start -->
  {{AboutSection.render()}}
  <!-- About Section End -->
  <!-- Fact Section Start -->
  {{FactSection.render()}}
  <!-- Footer Section End -->
  <!-- Content Section Start -->
  {{ContentOneSection.render()}}
  <!-- Content Section End -->
  <!-- Team Section Start -->
  {{TeamSection.render()}}
  <!-- Team Section Start -->
  <!-- Brand Section Start -->
  {{BrandSection.render()}}
  <!-- Brand Section End -->
  <!-- Cta Section Start -->
  {{CtaSection.render()}}
  <!-- Cta Section End -->
  <!-- Footer Section Start -->
  {{FooterSection.render()}}
  <!-- Footer Section End -->
{% endblock %}