{% extends "template.njk" %}
{% import "sections/coming-soon-2/_coming-soon-2.njk" as ContentSection %}
{% set PAGE_INFO = {
  color_scheme : "1",
  menuHide:true
}
%}
{% block main %}
  <!-- Coming Soon Comin Content Section Start -->
  {{ContentSection.render()}}
  <!-- Coming Soon Comin Content Section End -->
{% endblock %}
{% block pluginjs %}
  <script src="./plugins/countdown/jquery.countdown.min.js"></script>
  <script>
  
    $('#countdown').countdown({
      year: 2023, // YYYY Format
      month: 2, // 1-12
      day: 28, // 1-31
      hour: 0, // 24 hour format 0-23
      minute: 0, // 0-59
      second: 0, // 0-59
    });
  
  </script>
{% endblock %}