{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "components/Brand/_brand-2.njk" as BrandSection %}
{% import "sections/landing-7/_hero.njk" as HeroSection %}
{% import "sections/landing-7/_content-1.njk" as ContentOneSection %}
{% import "sections/landing-7/_content-2.njk" as ContentTwoSection %}
{% import "sections/landing-7/_cta.njk" as CtaSection %}
{% import "sections/landing-7/_pricing.njk" as PricingSection %}
{% import "sections/landing-7/_testimonial.njk" as TestimonialSection %}
{% import "sections/landing-7/_about.njk" as AboutSection %}
{% import "sections/landing-7/_fact.njk" as FactSection %}
{% import "components/footer/_footer-1.njk" as FooterSection %}
{% set PAGE_INFO = {
    color_scheme : "6"
}
%}
{% block main %}
  {{Header.render({
    additional_header_class:"site-header--menu-center site-header--menu-center-adjustment bg-transparent site-header--dark",
    absolute_header:true,
    header_double_button:true,
    header_button:false,
    additional_db_classes:"site-header__btns--07",
    header_button_class_1:"btn btn-transparent btn-1",
    header_button_text_1 :"Login",
    header_button_class_2:"btn btn-primary btn-parimary-hvr btn-2 rounded",
    header_button_text_2 :"Sign Up"
  })}}

  <!-- Hero Section Start -->
  {{HeroSection.render()}}
  <!-- Hero Section End -->
  <!-- Brand Section Start -->
  {{BrandSection.render()}}
  <!-- Brand Section End -->
  <!-- About Section End -->
  {{AboutSection.render()}}
  <!-- About Section End -->
  <!-- Content Section Start -->
  {{ContentOneSection.render()}}
  <!-- Content Section End -->
  <!-- Content Section Start -->
  {{ContentTwoSection.render()}}
  <!-- Content Section End -->
  <!-- Fact Section Start -->
  {{FactSection.render()}}
  <!-- Fact Section End -->
  <!-- Pricing Section Start -->
  {{PricingSection.render()}}
  <!-- Pricing Section End -->
  <!-- Testimonial Section Start -->
  {{TestimonialSection.render()}}
  <!-- Testimonial Section End -->
  <!-- Cta Section Start -->
  {{CtaSection.render()}}
  <!-- Cta Section End -->
  <!-- Footer Section Start -->
  {{FooterSection.render()}}
  <!-- Footer Section End -->
{% endblock %}