{% macro render(args) %}
    <div class="signin-section-01">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-10 col-xs-11 col-sm-10">
                    <div class="signin-section-01__logo text-center">
                        <a href="index.html"><img src="./image/logo/logo-dark.png" alt="logo"></a>
                    </div>
                    <div class="signin-form-01 block-title">
                        <h3 class="title signin-form-01__title">Login to you account</h3>
                        <form action="#" class="from">
                            <div class="from__input-group">
                                <label for="username" class="from__input-group--label text-dark">Enter email address*</label>
                                <input class="from__input-group--input" type="text" placeholder="Enter email address"
                                name="username" id="username" autocomplete="off"/>
                            </div>
                            <div class="from__input-group">
                                <label for="passField" class="from__input-group--label text-dark">Password*</label>
                                <div class="from__pass-box">
                                    <input class="from__input-group--input from__pass-box--input" id="passField" type="password"
                                    placeholder="**********"/>
                                    <i id="eye" class="from__pass-box--eye far fa-eye-slash"></i>
                                </div>
                            </div>
                            <div class="from__check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" id="check" for="gridCheck">
                                Remember me
                            </label>
                            </div>
                            <div class="from__button-group">
                                <div class="from__button-group--one">
                                    <a class="btn btn-secondary btn-secondary-hvr" href="#">Login Now</a>
                                    <a class="forgot-btn text-dark" href="#">Forgot password?</a>
                                </div>
                                <div class="from__button-group--two">
                                    <a class="account-btn text-dark" href="#">Don’t have an account?</a>
                                    <a class="createanaccout-btn" href="#"> Create an account</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}