{% macro render(args) %}
    <div class="protfoliocontent-section-01">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="protfoliocontent-section-01__image-group">
                        <div class="protfoliocontent-section-01__image-group--single">
                            <img src="./image/portfolio/p-1.png" alt="portfolio-image" class="w-100">
                        </div>
                        <div class="protfoliocontent-section-01__image-group--single">
                            <img src="./image/portfolio/p-2.png" alt="portfolio-image" class="w-100">
                        </div>
                        <div class="protfoliocontent-section-01__image-group--single">
                            <img src="./image/portfolio/p-3.png" alt="portfolio-image" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="protfoliocontent-card--01">
                        <h3 class="title mb-20">Project Info:</h3>
                        <p class="text-dark text">By accessing and placing an order with UX Theme, you confirm that you are in greement with and bound by the terms and conditions contained in the Terms Of Use outlined elow.entire website and any emailommunication between you and UXTheme. Use outlined elow entire website email. </p>
                        <ul class="protfoliocontent-card--01__list">
                            <li class="list-item">
                                <h6>Client:</h6>
                                <span>Calvin Carlo Industries.</span>
                            </li>
                            <li class="list-item">
                                <h6>Category:</h6>
                                <span>Calvin Carlo Industries.</span>
                            </li>
                            <li class="list-item">
                                <h6>Website:</h6>
                                <a href="#">www.yourdomain.com</a>
                            </li>
                            <li class="list-item">
                                <h6>Finshing Date:</h6>
                                <span>06 May, 2021</span>
                            </li>
                            <li class="list-item">
                                <h6>Duration:</h6>
                                <span>2 weeks</span>
                            </li>
                            <li class="list-item">
                                <h6>Share on:</h6>
                                <ul class="social">
                                    <li>
                                        <a href="https://www.instagram.com/">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="protfoliocontent-section-01__next-prev-button">
                        <a href="#" class="prev-button">
                            <i class=" me-2 fas fa-chevron-left"></i>
                            <p>Previous Project</p>
                        </a>
                        <a  href="#" class="next-button">
                            <p>Next Project</p>
                            <i class="ms-2 fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}