{% macro render(args) %}
    {% set brands = ["./image/brand/brand-1/brand-1.png", "./image/brand/brand-1/brand-2.png", "./image/brand/brand-1/brand-3.png", "./image/brand/brand-1/brand-4.png"] %}
    <div class="brand-section-01">
        <div class="container">
            <div class="brand-section-01__wrapper">
                {% for item in brands %}
                    <div class="single-brand">
                        <img src="{{item}}" alt="brand">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}