{% macro render(args) %}
    <div class="cta-section-07 cta-bg-group-4">
        <div class="container">
            <div class="cta-section-07__wrapper overflow-hidden">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-md-10 co-xs-12 col-sm-12 col-12" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                        <div class="cta-section-07__contennt">
                            <div class="block-title text-center">
                                <h2 class="heading-light title">Create better experiences with<br class=" d-none d-xs-block"> Custer marketing software</h2>
                            </div>
                            <form action="/" class="form-subscribe-inline--01 cta-section-07__newsletter">
                                <input type="email" placeholder="Enter your email address" class="form-control"/>
                                <button class="btn btn-primary btn-primary-hvr">Subscribe Now</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="cta-section-07__wrapper--top-shape">
                    <img src="./image/home-7/cta-top-shape.png" alt="shape">
                </div>
                <div class="cta-section-07__wrapper--shape-1" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000">
                    <img src="./image/home-7/cta-shape-1.svg" class="make-it-inline" alt="shape">
                </div>
                <div class="cta-section-07__wrapper--shape-2 circle-animation">
                    <img src="./image/home-7/cta-shape-2.svg" class="make-it-inline" alt="shape">
                </div>
                <div class="cta-section-07__wrapper--shape-3" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
                    <img src="./image/home-7/cta-shape-3.png" class="w-100" alt="shape">
                </div>
            </div>
        </div>
    </div>
{% endmacro %}