{% macro render(args) %}
    {% import "components/_widget.njk" as Widget %}

    {% set counterData =[
        {
        iconImage:"./image/home-7/fact-icon-1.svg",
        title:"<span class='counter'>28</span>K",
        text:"Total Users"
        },
        {
        iconImage:"./image/home-7/fact-icon-2.svg",
        title:"<span class='counter'>13</span>K",
        text:"Lifetime Downloads"
        },
        {
        iconImage:"./image/home-7/fact-icon-3.svg",
        title:"<span class='counter'>68</span>K",
        text:"Social Likes"
        },
        {
        iconImage:"./image/home-7/fact-icon-4.svg",
        title:"<span class='counter'>10</span>K",
        text:"5 Star Rating"
        }

]%}
    <!-- START FACT SECTION -->
    <div class="counter-section-07">
        <div class="container">
            <div class="row justify-content-center widgets-row-02">
                {%for item in counterData %}
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        {{Widget.column({
                            modifier:"widget-column-center widget-counter",
                            iconImage:item.iconImage,
                            fontImg:item.iconImage,
                            fontImg:true,
                            titleClass:"heading-light",
                            textClass:"text-light",
                            title:item.title,
                            text:item.text
                        })}}
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
        <!-- END FACT SECTION -->
    {% endmacro %}