{% macro render(args) %}
    {% import "components/Cards/cards.njk" as Card %}

    {% set TestimonilData =[
    {
    img:"./image/home-7/t-1.png",
    name:"Jenny Wilson",
    skill:"Graphic Designer",
    text:"OMG! I cannot believe that I have got a brand new landing page after getting appmax."
    },
    {
    img:"./image/home-3/t-2.png",
    name:"Robert Fox",
    skill:"Digital Marketer",
    text:"OMG! I cannot believe that I have got a brand new landing page after getting appmax."
    },
    {
    img:"./image/home-3/t-3.png",
    name:"Mila McSabbu",
    skill:"HR Manager",
    text:"OMG! I cannot believe that I have got a brand new landing page after getting appmax."
    }
]%}
    <div class="testimonil-section-06">
        <div class="testimonil-section-06__circle-1 particle"></div>
        <div class="testimonil-section-06__circle-2 particle"></div>
        <div class="testimonil-section-06__circle-1 particle"></div>
        <div class="testimonil-section-06__circle-2 particle"></div>
        <div class="container">
            <div class="row">
                <div class="section-title testimonil-section-06__title">
                    <h6 class="subtitle text-secondary">Testimonials</h6>
                    <h2 class="title">Review from our customers</h2>
                </div>
            </div>
            <div class="row three-row-mobile-slider mobile-slider">
                {%for item in TestimonilData %}
                    <div class="singel-slider col-lg-4">
                        {{Card.Testimonil04({
                            img:item.img,
                            name:item.name,
                            skill:item.skill,
                            text:item.text
                        })}}
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    {% endmacro %}