{% macro render(args) %}
    {% import "components/_widgets.njk" as Widget %}
    {% set featureData = [
    {
        id:1,
        title:"Innovative Soluation",
        icon:"./image/home-3/feature-icon-01.svg",
        text:"Fully layered dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores officiis laboriosam."
    },
    {
        id:2,
        title:"Clear Navigation",
        icon:"./image/home-3/feature-icon-02.svg",
        text:"Fully layered dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita  dolores officiis laboriosam."
    },
    {
        id:3,
        title:"Over 800 Clients",
        icon:"./image/home-3/feature-icon-03.svg",
        text:"Fully layered dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita  dolores officiis laboriosam."
    }

] %}
    <section class="feature-section-03">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-9 col-xs-10">
                    <div class="section-title text-center">
                        <h2 class="title">Custer has lots of special features for you</h2>
                        <p>Fully layered dolor sit amet, consectetur Facere, nobis, id <br class="d-none d-md-block"/> expedita dolores officiis laboriosam.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center feature-widgets-row">
                {% for item in featureData %}
                    <div class="col-lg-4 col-md-6 col-sm-10 col-xs-10" data-aos="fade-up" data-aos-delay="{{ 200 * item.id }}" data-aos-duration="1000">
                        {{Widget.card({
                                class:"widget-card-01",
                                icon:item.icon,
                                title:item.title,
                                text:item.text,
                                mode:"dark"
                            })}}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endmacro %}