{% macro render(args) %}
    <div class="content-section-07">
        <div class="container">
            <!-- Section Title -->
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="text-center section-title content-title">
                        <h2 class="title">App screenshots</h2>
                        <p class="text-dark">An enim nullam tempor gravida donec enim  congue <br class="d-none d-xs-block"> magnasus varius blandit sit amet non magna.</p>
                    </div>
                </div>
            </div>
            <!-- End Section Title -->
        </div>
        <!-- Screenshot Area -->
        <div class="screenshot-slider-wrapper-07">
            <div class="screenshot-slider">
                <!-- single-slide Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/home-3/screenshot/1.png" alt=""/>
                    </div>
                </div>
                <!-- / .single-slide Area -->
                <!-- single-slide Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/home-3/screenshot/2.png" alt=""/>
                    </div>
                </div>
                <!-- / .single-slide Area -->
                <!-- single-slide Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/home-3/screenshot/3.png" alt=""/>
                    </div>
                </div>
                <!-- / .single-slide Area -->
                <!-- single-slide Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/home-3/screenshot/4.png" alt=""/>
                    </div>
                </div>
                <!-- / .single-slide Area -->
                <!-- single-slide Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/home-3/screenshot/5.png" alt=""/>
                    </div>
                </div>
                <!-- / .single-slide Area -->
                <!-- Screenshot Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/home-3/screenshot/3.png" alt=""/>
                    </div>
                </div>
            </div>
            <!-- / .Screenshot Area -->
            <div class="phone-bg-img">
                <img src="./image/home-3/screenshot/frame.png" alt=""/>
            </div>
        </div>
        <div class="screenshots-dots"></div>
        <!-- / .Screenshot Area -->
    </div>
{% endmacro %}