{% macro render(args) %}
    {% import "components/Cards/cards.njk" as Card %}

    {% set TestimonilData =[
    {
    id:1,
    img:"./image/home-3/t-1.png",
    name:"Jenny Wilson",
    skill:"Graphic Designer",
    text:"Leading an organization is incredibly rewarding and equally humbling. Confidence and humility. Every success is built on lessons from mistakes made is incredibly rewarding and equally humbling. It requires healthy."
    },
    {
    id:2,
    img:"./image/home-3/t-2.png",
    name:"Robert Fox",
    skill:"Digital Marketer",
    text:"Leading an organization is incredibly rewarding and equally humbling. Confidence and humility. Every success is built on lessons from mistakes made is incredibly rewarding and equally humbling. It requires healthy."
    },
    {
    id:3,
    img:"./image/home-3/t-3.png",
    name:"Mila McSabbu",
    skill:"HR Manager",
    text:"Leading an organization is incredibly rewarding and equally humbling. Confidence and humility. Every success is built on lessons from mistakes made is incredibly rewarding and equally humbling. It requires healthy."
    },
    {
    id:4,
    img:"./image/home-3/t-2.png",
    name:"Robert Fox",
    skill:"Digital Marketer",
    text:"Leading an organization is incredibly rewarding and equally humbling. Confidence and humility. Every success is built on lessons from mistakes made is incredibly rewarding and equally humbling. It requires healthy."
    }


]%}
    <div class="testimonil-section-03">
        <div class="container">
            <div class="row">
                <div class="section-title testimonil-section-03__title">
                    <h2 class="title">Positive reviews from <br class="d-none d-sm-block"> 22k+ happy customers</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xs-11 col-md-9 col-lg-12">
                    <div class="testimonial-slider--03 mobile-slider">
                        {%for item in TestimonilData %}
                            <div class="single-slider" data-aos="fade-up" data-aos-delay="{{ 200 * item.id }}" data-aos-duration="1000">
                                {{Card.Testimonil02({
                                    img:item.img,
                                    name:item.name,
                                    skill:item.skill,
                                    text:item.text
                                })}}
                            </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endmacro %}