{% macro render(args) %}
    <div class="comingsoom-section-02">
        <div class="comingsoom-section-02__shape">
            <img src="./image/comingsoon/coming-soon-2-shape.svg" class="w-100 h-100 make-it-inline" alt="shape">
        </div>
        <div class="comingsoom-section-02__shape-1 floating-Y-animation-02">
            <img src="./image/comingsoon/shape-1.svg" class="w-100 make-it-inline" alt="shape">
        </div>
        <div class="comingsoom-section-02__shape-2 circle-animation">
            <img src="./image/comingsoon/shape-2.svg" class="w-100 make-it-inline" alt="shape">
        </div>
        <div class="comingsoom-section-02__shape-3  floating-Y-animation-reverse-02">
            <img src="./image/comingsoon/shape-3.svg" class="w-100 make-it-inline" alt="shape">
        </div>
        <div class="comingsoom-section-02__shape-4 circle-animation">
            <img src="./image/comingsoon/shape-4.svg" class="w-100 make-it-inline" alt="shape">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="comingsoom-section-02__logo text-center">
                    <a href="index.html"><img src="./image/logo/logo-white.png" alt="logo"></a>
                </div>
                <div class="comingsoom-section-02__content text-center">
                    <div class="comingsoom-section-02__content--title block-title">
                        <h2 class="title text-white mb-20">Coming Soon</h2>
                        <p class="text-light">Get ready for the biggest marketing <br/> launch of the year</p>
                    </div>
                    <div class="comingsoom-section-02__content--counter" id="countdown"></div>
                    <ul class="comingsoom-section-02__content--social">
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/">

                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}