{% macro render(args) %}
    <div class="blogcontent-section-02">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5">
                    <!-- Blog Sidebar Start -->
                    <!-- Brought from Blog Page Siderbar -->
                    <div class="blog-sidebar-01">
                        <div class="blog-sidebar-01--searchbox">
                            <input class="form-control" type="text" placeholder="Type to search...">
                            <div class="icon">
                                <img src="./image/blog/search.svg" alt="search-icon">
                            </div>
                        </div>
                        <div class="blog-sidebar-01--tab">
                            <h4 class="title">Blog Categories</h4>
                            <ul class="nav flex-column nav-pills">
                                <li class="nav-link">Development (15)</li>
                                <li class="nav-link">Website Construction (08)</li>
                                <li class="nav-link">Cyber Security (20)</li>
                                <li class="nav-link">Virtual Assistant (07)</li>
                            </ul>
                        </div>
                        <div class="blog-sidebar-01--posts">
                            <h4 class="title">Recent Posts</h4>
                            <a href="#" class="d-block">
                                <div class="post-blogs">
                                    <div class="post-blogs--img">
                                        <img src="./image/blog/small-blog-1.png" alt="blog-img">
                                    </div>
                                    <div class="post-blogs--texts">
                                        <h6 class="text-dark">Don’t Count on Freeto Win You Customers</h6>
                                        <span class="text-dark">July 02, 2021</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="d-block">
                                <div class="post-blogs">
                                    <div class="post-blogs--img">
                                        <img src="./image/blog/small-blog-2.png" alt="blog-img">
                                    </div>
                                    <div class="post-blogs--texts">
                                        <h6 class="text-dark">Is Your Organization Building Bridges?</h6>
                                        <span class="text-dark">June 07, 2021</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="d-block">
                                <div class="post-blogs">
                                    <div class="post-blogs--img">
                                        <img src="./image/blog/small-blog-3.png" alt="blog-img">
                                    </div>
                                    <div class="post-blogs--texts">
                                        <h6 class="text-dark">What Makes a Degree Review Successful?</h6>
                                        <span class="text-dark">May 28, 2021</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="d-block">
                                <div class="post-blogs">
                                    <div class="post-blogs--img">
                                        <img src="./image/blog/small-blog-4.png" alt="blog-img">
                                    </div>
                                    <div class="post-blogs--texts">
                                        <h6 class="text-dark">Getting Your Team to Buy into a Big Change</h6>
                                        <span class="text-dark">March 03, 2021</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="blog-sidebar-01--tags">
                            <h4 class="title">Tags</h4>
                            <div class="tag">
                                <a class="tag-item active" href="#">Cyber security</a>
                                <a class="tag-item" href="#">Hacker</a>
                                <a class="tag-item" href="#">Blockchain</a>
                                <a class="tag-item" href="#">News</a>
                                <a class="tag-item" href="#">Password</a>
                                <a class="tag-item" href="#">Security</a>
                                <a class="tag-item" href="#">SafetySupport</a>
                                <a class="tag-item" href="#">Service</a>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Sidebar End -->
                </div>
                <div class="col-xl-7 offset-xl-1 col-lg-7">
                    <!-- Blog Detail Card Start -->
                    <div class="blogcontent-card">
                        <div class="blogcontent-card--img">
                            <img src="./image/blog/blog-detail.png" alt="blog-img" class="mw-100">
                        </div>
                        <div class="blogcontent-card__body">
                            <div class="blogcontent-card__body--meta">
                                <div class="admmin">
                                    <img src="./image/blog/admin.svg" class="make-it-inline" alt="icon">
                                    <span>Admin</span>
                                </div>
                                <div class="date">
                                    <img src="./image/blog/clender.svg" class="make-it-inline" alt="icon">
                                    <span>17 July, 2021</span>
                                </div>
                                <div class="comment">
                                    <img src="./image/blog/comment.svg" class="make-it-inline" alt="icon">
                                    <span>5 Comments</span>
                                </div>
                            </div>
                            <div class="blogcontent-card__body--texts">
                                <h6>Governing Cyberspace during a Crisis in Trust</h6>
                                <p class="text-dark">It is almost impossible to read the news without coming across a lead story cataloguing the latest cyber breach or misuse of data. Intellectual property is being stolen from companies at an alarming rate. Foreign actors are meddling in elections. Criminals use the dark recesses of the internet to sell drugs, guns and even people. The volume of these events lays bare the paradox of the digital economy and cyber security. On one hand, technology has led to convenience, efficiency and wealth creation. On the other hand, this great push to digitize society has meant building inherent vulnerability into the core of the economic taking place atop a deeply fragmented and underdeveloped system of global rules.</p>
                            </div>
                            <div class="blogcontent-card__body--texts">
                                <h6>The essentials of cybersecurity solutions</h6>
                                <p class="text-dark">It is almost impossible to read the news without coming across a lead story cataloguing the latest cyber breach or misuse of data. Intellectual property is being stolen from companies at an alarming rate. Foreign actors are meddling in elections. Criminals use the dark recesses of the internet to sell drugs, guns and even people. The volume of these events lays bare the paradox of the digital economy and cyber security. On one hand, technology has led to convenience, efficiency and wealth creation. On the other hand, this great push to digitize society has meant building inherent vulnerability into the core of the economic taking place atop a deeply fragmented and underdeveloped system of global rules.</p>
                            </div>
                            <div class="blogcontent-card__body--lists">
                                <h6>Major elements that we offer:</h6>
                                <ul class="p-0 m-0">
                                    <li>The need to make tough decisions as a company grows</li>
                                    <li>Why people are more important than technology in any company</li>
                                    <li>The importance of video calls in building team connectivity</li>
                                    <li>The role of engagement in a company’s culture and why it’s key to success</li>
                                </ul>
                            </div>
                            <div class="blogcontent-card__body--social">
                                <h6>Share:</h6>
                                <ul>
                                    <li>
                                        <a href="https://www.instagram.com/">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Detail Card End -->

                    <!-- Blogcontent Next Prev Button Start-->
                    <div class="blogcontent-buttons">
                        <div class="blogcontent-buttons__button blogcontent-buttons__previous">
                            <div class="tag">
                                <span>Previous:</span>
                            </div>
                            <a href="#">
                                <div class="prev-content">
                                    <div class="prev-content__arrow">
                                        <img src="./image/blog/previous.svg" class="make-it-inline" alt="arrow">
                                    </div>
                                    <p class="prev-content__text text-dark">Why a free afternoon each week can 
                                      <br>  boost employees’ sense.</p>
                                </div>
                            </a>
                        </div>
                        <div class="blogcontent-buttons__button blogcontent-buttons__next text-end">
                            <div class="tag">
                                <span>Previous:</span>
                            </div>
                            <a href="#">
                                <div class="next-content">
                                    <div class="next-content__arrow">
                                        <img src="./image/blog/previous.svg" class="make-it-inline" alt="arrow">
                                    </div>
                                    <h6 class="next-content__text text-dark">The 7 things Biden should do first <br> to tackle climate change.</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- Blogcontent Next Prev Button End-->

                    <!-- Blogcontent Comment Start-->
                    <div class="blogcontent-comment">
                        <div class="blogcontent-comment__content">
                            <h6 class="title">Comments:</h6>
                        </div>
                        <div class="comment-card-01">
                            <div class="comment-card-01--img">
                                <img src="./image/blog/client-1.png" alt="client">
                            </div>
                            <div class="comment-card-01__body">
                                <p class="comment-card-01__body--text text-dark" >Leading an organization is incredibly rewarding and equally humbling. <br class="d-none d-xl-block"> Confidence and humility. Every success is rewarding.</p>
                                <div class="comment-card-01__body--info">
                                    <div class="data">
                                        <h6 class="name">- Marvin McKinney</h6>
                                        <span class="date">May 28, 2021</span>
                                    </div>
                                    <div class="texts">
                                        <a href="#" class="text-dark">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="border mt-5 mb-5 mt-lg-6 mb-lg-6">
                        <div class="comment-card-01">
                            <div class="comment-card-01--img">
                                <img src="./image/blog/client-2.png" alt="client">
                            </div>
                            <div class="comment-card-01__body">
                                <p class="comment-card-01__body--text text-dark" >Leading an organization is incredibly rewarding and equally humbling. <br class="d-none d-xl-block"> Confidence and humility. Every success is rewarding.</p>
                                <div class="comment-card-01__body--info">
                                    <div class="data">
                                        <h6 class="name">- Savan Nguyen</h6>
                                        <span class="date">May 27, 2021</span>
                                    </div>
                                    <div class="texts">
                                        <a href="#" class="text-dark active">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-card-02">
                            <div class="comment-card-02--img">
                                <img src="./image/blog/client-3.png" alt="client">
                            </div>
                            <div class="comment-card-01__body">
                                <p class="comment-card-02__body--text text-dark" >Leading an organization is incredibly rewarding and <br class="d-none d-xl-block"> humility. Every success is rewarding..</p>
                                <div class="comment-card-02__body--info">
                                    <div class="data">
                                        <h6 class="name">- Jerom Max</h6>
                                        <span class="date">May 28, 2021</span>
                                    </div>
                                    <div class="texts">
                                        <a href="#" class="text-dark">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Blogcontent Comment End-->

                    <!-- Blogcontent From Start-->
                    <div class="blogcontent-from">
                        <div class="blogcontent-from__content">
                            <h6 class="title">Leave a comment</h6>
                            <p class="text text-dark">Your email address will not be published*</p>
                        </div>
                        <form action="#" class="from">
                            <div class="from__input-group">
                                <input class="form-control" type="text" placeholder="Name"/>
                            </div>
                            <div class="from__input-group">
                                <input class="form-control" type="text" placeholder="Name"/>
                            </div>
                            <div class="from__input-group">
                                <textarea class="from__input-group--box" cols="30" rows="10" placeholder="Write your comment"></textarea>
                            </div>
                            <a href="#" class="btn btn-secondary  btn-secondary-hvr">Submit</a>
                        </form>
                    </div>
                    <!-- Blogcontent From End-->
                </div>
            </div>
        </div>
    </div>
{% endmacro %}