{% macro render(args) %}
    <footer class="footer-area--01">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-xl-3 col-xxl-3 col-sm-6 col-xs-9 col-10 order-sm-1 order-lg-1">
                    <div class="footer-content text-center text-sm-start">
                        <a href="index.html" class="footer-content--logo d-block">
                            <img src="./image/logo/logo-dark.png" alt="logo">
                        </a>
                        <p class="footer-content--text text-dark">There are many variations of passages of Lorem the Ipsum available but it is the majority of suffered that a alteration in that some dummy text.</p>
                        <ul class="footer-content--social">
                            <li>
                                <a href="https://www.instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/">

                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-xl-3 col-xxl-3 col-sm-4 col-xs-11 offset-sm-1 offset-lg-0 order-sm-2 order-lg-2">
                    <div class="footer-widget footer-widget--01 text-center text-sm-start">
                        <h5 class="footer-widget--title">Services</h5>
                        <ul class="footer-widget--list m-0 p-0 list-unstyled">
                            <li>
                                <a href="javascript:void(0)">Incident Responder</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Secure Managed IT</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Check website Url</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Locker Security</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-xl-3 col-xxl-3 col-sm-4 col-xs-11 offset-sm-1 offset-lg-0 order-sm-4 order-lg-3">
                    <div class="footer-widget footer-widget--02 text-center text-sm-start">
                        <h5 class="footer-widget--title">About Us</h5>
                        <ul class="footer-widget--list m-0 p-0 list-unstyled">
                            <li>
                                <a href="javascript:void(0)">Payment Plans</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Make saving More</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Tax Calculator</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Talk To Us</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-xl-3 col-xxl-3 col-sm-6 col-xs-11 order-sm-3 order-lg-4">
                    <div class="footer-widget footer-widget--03 text-center text-sm-start">
                        <h5 class="footer-widget--title">Our Support  Download</h5>
                        <ul class="footer-widget--info m-0 p-0 list-unstyled">
                            <li>455 West Orchard Street </li>
                            <li>Kings Mountain, NC 28086</li>
                            <li>Phone:
                                    <a href="#">+8 (123) 985 789</a>
                            </li>
                            <li>Email:
                                    <a href="#"> metax@gamil.com</a>
                            </li>
                        </ul>
                        <div class="footer-widget--info-brand">
                            <a href="https://www.apple.com/app-store/">
                                <img src="./image/logo/f-app-store.png" alt="sponsor" class="mw-100">
                            </a>
                            <a href="https://play.google.com/">
                                <img src="./image/logo/f-play-store.png" alt="sponsor" class="mw-100">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <p>© 2021 Custer All Rights Reserved.</p>
        </div>
</footer>
{% endmacro %}