{% macro render(args) %}
    <div class="portfoliogrid-section-03">
        <div class="container">
            <div class="row">
                <div id="portfoliogridMenu" class="portfoliogrid-section-03__tab portfolio-filter-menu">
                    <button class="btn active" data-filter="*">See All</button>
                    <button class="btn" data-filter=".portfolio-1">Branding</button>
                    <button class="btn" data-filter=".portfolio-2">Designing</button>
                    <button class="btn" data-filter=".portfolio-3">Photography</button>
                    <button class="btn" data-filter=".portfolio-4">Development</button>
                </div>
            </div>
            <div class="row g-0 portfolio-masonry portfolio-active">
                <div class="col-md-4 col-xs-6 grid-item portfolio-1 portfolio-2">
                    <a href="#" class="portfolio-masonry--single ">
                        <img src="./image/portfolio/grid-3-1.png" alt="portfolio" class="w-100">
                        <div class="icon">
                            <img src="./image/portfolio/plus-icon.svg" class="make-it-inline" alt="plus-icon">
                        </div>
                        <div class="content">
                            <h6>Colors Magazine</h6>
                            <span>Web Design</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-6 grid-item portfolio-2 portfolio-3 portfolio-4">
                    <a href="#" class="portfolio-masonry--single ">
                        <img src="./image/portfolio/grid-3-2.png" alt="portfolio" class="w-100">
                        <div class="icon">
                            <img src="./image/portfolio/plus-icon.svg" class="make-it-inline" alt="plus-icon">
                        </div>
                        <div class="content">
                            <h6>Colors Magazine</h6>
                            <span>Web Design</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-6 grid-item portfolio-3 portfolio-2">
                    <a href="#" class="portfolio-masonry--single ">
                        <img src="./image/portfolio/grid-3-3.png" alt="portfolio" class="w-100">
                        <div class="icon">
                            <img src="./image/portfolio/plus-icon.svg" class="make-it-inline" alt="plus-icon">
                        </div>
                        <div class="content">
                            <h6>Colors Magazine</h6>
                            <span>Web Design</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-6 grid-item portfolio-1 portfolio-4">
                    <a href="#" class="portfolio-masonry--single ">
                        <img src="./image/portfolio/grid-3-4.png" alt="portfolio" class="w-100">
                        <div class="icon">
                            <img src="./image/portfolio/plus-icon.svg" class="make-it-inline" alt="plus-icon">
                        </div>
                        <div class="content">
                            <h6>Colors Magazine</h6>
                            <span>Web Design</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-6 grid-item portfolio-3 portfolio-1 portfolio-4">
                    <a href="#" class="portfolio-masonry--single ">
                        <img src="./image/portfolio/grid-3-5.png" alt="portfolio" class="w-100">
                        <div class="icon">
                            <img src="./image/portfolio/plus-icon.svg" class="make-it-inline" alt="plus-icon">
                        </div>
                        <div class="content">
                            <h6>Colors Magazine</h6>
                            <span>Web Design</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-6 grid-item portfolio-1 portfolio-4">
                    <a href="#" class="portfolio-masonry--single ">
                        <img src="./image/portfolio/grid-3-6.png" alt="portfolio" class="w-100">
                        <div class="icon">
                            <img src="./image/portfolio/plus-icon.svg" class="make-it-inline" alt="plus-icon">
                        </div>
                        <div class="content">
                            <h6>Colors Magazine</h6>
                            <span>Web Design</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-6 grid-item portfolio-2 portfolio-3">
                    <a href="#" class="portfolio-masonry--single ">
                        <img src="./image/portfolio/grid-3-7.png" alt="portfolio" class="w-100">
                        <div class="icon">
                            <img src="./image/portfolio/plus-icon.svg" class="make-it-inline" alt="plus-icon">
                        </div>
                        <div class="content">
                            <h6>Colors Magazine</h6>
                            <span>Web Design</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-6 grid-item portfolio-1 portfolio-4">
                    <a href="#" class="portfolio-masonry--single ">
                        <img src="./image/portfolio/grid-3-8.png" alt="portfolio" class="w-100">
                        <div class="icon">
                            <img src="./image/portfolio/plus-icon.svg" class="make-it-inline" alt="plus-icon">
                        </div>
                        <div class="content">
                            <h6>Colors Magazine</h6>
                            <span>Web Design</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-6 grid-item portfolio-1 portfolio-4">
                    <a href="#" class="portfolio-masonry--single ">
                        <img src="./image/portfolio/grid-3-9.png" alt="portfolio" class="w-100">
                        <div class="icon">
                            <img src="./image/portfolio/plus-icon.svg" class="make-it-inline" alt="plus-icon">
                        </div>
                        <div class="content">
                            <h6>Colors Magazine</h6>
                            <span>Web Design</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}