{% macro render(args) %}
    <div class="content-section-19">
        <div class="content-section-19__dots" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
            <img src="./image/home-9/dots.svg" class="w-100" alt="shape">
        </div>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-8 col-sm-10 col-xs-11">
                    <div class="content-section-19__image-group"data-aos="fade-right" data-aos-delay="500"  data-aos-duration="1000">
                        <img src="./image/home-9/content-1.png" alt="content-img" class="mw-100">
                        <div class="content-section-19__image-group--card" data-aos="fade-up" data-aos-delay="1000"  data-aos-duration="1000">
                            <img src="./image/home-9/content-1-card.png" alt="image-card" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="col-xxl-5 offset-xxl-2 col-xl-6 col-lg-6 col-md-8 col-sm-10 col-xs-11" data-aos="fade-up" data-aos-delay="500"  data-aos-duration="1000">
                    <div class="block-title content-section-19__content">
                        <h6 class="subtitle text-bule mb-20">About appmax </h6>
                        <h2 class="title">Custer manage and grow your business</h2>
                        <p class="text-dark">An enim nullam tempor sapien gravida donec enim ipsum<br class="d-none d-xl-block"> porta  justo integer at odio velna vitae auctor integer congue </p>
                        <ul class="content-section-19__content--list">
                            <li>
                                <img src="./image/home-9/check.svg" class="make-it-inline" alt="check"> Boost SEO</li>
                            <li>
                                <img src="./image/home-9/check.svg" class="make-it-inline" alt="check"> Manage Buying</li>
                            <li>
                                <img src="./image/home-9/check.svg" class="make-it-inline" alt="check"> Visual Reviews</li>
                            <li>
                                <img src="./image/home-9/check.svg" class="make-it-inline" alt="check"> Buyer Protection</li>
                            <li>
                                <img src="./image/home-9/check.svg" class="make-it-inline" alt="check"> Social Sharing</li>
                            <li>
                                <img src="./image/home-9/check.svg" class="make-it-inline" alt="check"> Virtual Card</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}