{% macro render(args) %}
    {% import "components/Cards/cards.njk" as Card %}

    {% set TestimonilData =[
        {
        img:"./image/home-9/testimonial-1.png",
        name:"Mila McSabbu",
        skill:"Digital Marketer",
        text:"OMG! I cannot believe that I have got a brand new landing page after getting appmax. It was super easy to edit and publish."
        },
        {
        img:"./image/home-9/testimonial-2.png",
        name:"Jenny Wilson",
        skill:"Graphic Designer",
        text:"OMG! I cannot believe that I have got a brand new landing page after getting appmax. It was super easy to edit and publish."
        },
        {
        img:"./image/home-9/testimonial-3.png",
        name:"Robert Fox",
        skill:"Founder, Oppora",
        text:"OMG! I cannot believe that I have got a brand new landing page after getting appmax. It was super easy to edit and publish."
        }

]%}
    <div class="testimonial-section-08">
        <div class="testimonial-section-08__dots" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000">
            <img src="./image/home-9/dots.svg" class="w-100" alt="shape">
        </div>
        <div class="container">
            <div class="section-title testimonial-section-08__title text-center">
                <h6 class="subtitle text-bule mb-20">Testimonial</h6>
                <h2 class="title">What our happy clients say</h2>
            </div>
            <div class="row testimonial-section-08__slider three-row-mobile-slider mobile-slider">
                {%for item in TestimonilData %}
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        {{Card.Testimonil06({
                            img:item.img,
                            name:item.name,
                            skill:item.skill,
                            text:item.text
                        })}}
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    {% endmacro %}