{% macro render(args) %}
<div class="service-section-03">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-8 mb-mobile-lg">
               <div class="service-section-03__sidebar">
                   <h6 class="title">Departments</h6>
                    <ul class="p-0 m-0 service-section-03__sidebar--list">
                        <li class="active"><a href="javascript:void(0)">All Departments (128)</a></li>
                        <li><a href="javascript:void(0)">Finance Department (08)</a></li>
                        <li><a href="javascript:void(0)">Markting Department (20)</a></li>
                        <li><a href="javascript:void(0)">Management Department (38)</a></li>
                        <li><a href="javascript:void(0)">Human resource Department (10)</a></li>
                        <li><a href="javascript:void(0)">Design Analysis (30)</a></li>
                        <li><a href="javascript:void(0)">International Communication (03)</a></li>
                        <li><a href="javascript:void(0)">Sale Department (52)</a></li>
                    </ul>
               </div> 
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="service-section-03__wrapper">
                    <div class="block-title service-section-03__wrapper--content">
                        <h2 class="titel">Available jobs</h2>
                        <p class="text-dark m-0">Employees fear outside consultants coming in and <br class="d-none d-md-block"> destroying the workflow. Our clients face no such issues.</p>
                    </div>
                    <ul class="service-section-03__wrapper--job-list">
                        <li><a href="javascript:void(0)">
                            <div class="list-content">
                                <div class="list-content--texts">
                                    <h6>Financial Department Manager</h6>
                                    <span>Full Time, USA</span>
                                </div>
                                <div class="list-content--icon">
                                    <img src="./image/career/arrow.svg" class="make-it-inline" alt="arrow-icon">
                                </div>
                            </div>
                        </a></li>
                        <li><a href="javascript:void(0)">
                            <div class="list-content">
                                <div class="list-content--texts">
                                    <h6>Sales Department Manager</h6>
                                    <span>Full Time, UK</span>
                                </div>
                                <div class="list-content--icon">
                                    <img src="./image/career/arrow.svg" class="make-it-inline" alt="arrow-icon">
                                </div>
                            </div>
                        </a></li>
                        <li><a href="javascript:void(0)">
                            <div class="list-content">
                                <div class="list-content--texts">
                                    <h6>Assistant Customer-Care Officer</h6>
                                    <span>Remote, China</span>
                                </div>
                                <div class="list-content--icon">
                                    <img src="./image/career/arrow.svg" class="make-it-inline" alt="arrow-icon">
                                </div>
                            </div>
                        </a></li>
                        <li><a href="javascript:void(0)">
                            <div class="list-content">
                                <div class="list-content--texts">
                                    <h6>Tax Consultant</h6>
                                    <span>Full Time, Germany</span>
                                </div>
                                <div class="list-content--icon">
                                    <img src="./image/career/arrow.svg" class="make-it-inline" alt="arrow-icon">
                                </div>
                            </div>
                        </a></li>
                        <li><a href="javascript:void(0)">
                            <div class="list-content">
                                <div class="list-content--texts">
                                    <h6>Senior Payroll Accountany</h6>
                                    <span>Remote, UK</span>
                                </div>
                                <div class="list-content--icon">
                                    <img src="./image/career/arrow.svg" class="make-it-inline" alt="arrow-icon">
                                </div>
                            </div>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}