{% macro counterOne(options) %}
<div class="counter-widgets dark-mode-texts">
    <div class="counter-widgets__single counter-content">
        <h2 class="counter-content__heading"><span class="counter">280</span></h2>
        <p class="counter-content__text">Project Launched</p>
    </div>
    <div class="counter-widgets__single counter-content">
        <h2 class="counter-content__heading"><span class="counter">640</span></h2>
        <p class="counter-content__text">Happy clients</p>
    </div>
    <div class="counter-widgets__single counter-content">
        <h2 class="counter-content__heading">+<span class="counter">3500</span></h2>
        <p class="counter-content__text">Users Comments</p>
    </div>
</div>
{% endmacro %}

{% macro counterTwo(options) %}
<div class="counter-widgets">
    <div class="counter-widgets__single counter-content text-center text-md-start">
        <h2 class="counter-content__heading"><span class="counter">53</span>K</h2>
        <p class="counter-content__text">Layout  Done</p>
    </div>
    <div class="counter-widgets__single counter-content text-center">
        <h2 class="counter-content__heading"><span class="counter">10</span>K</h2>
        <p class="counter-content__text">Projects Done</p>
    </div>
    <div class="counter-widgets__single counter-content text-center  text-md-end">
        <h2 class="counter-content__heading"><span class="counter">120</span></h2>
        <p class="counter-content__text">Get Awards</p>
    </div>
</div>
{% endmacro %}

{% macro counterThree(options) %}
<div class="counter-widgets">
    <div class="counter-widgets__single counter-content text-center">
        <h2 class="counter-content__heading"><span class="counter">596</span></h2>
        <p class="counter-content__text">Successful<br class="d-none d-xs-block"> projects done</p>
    </div>
    <div class="counter-widgets__single counter-content text-center">
        <h2 class="counter-content__heading"><span class="counter">93</span>%</h2>
        <p class="counter-content__text">Increased<br class="d-none d-xs-block"> conversion rate</p>
    </div>
    <div class="counter-widgets__single counter-content text-center">
        <h2 class="counter-content__heading"><span class="counter">300</span>+</h2>
        <p class="counter-content__text">Returning Happy<br class="d-none d-xs-block"> customer</p>
    </div>
</div>
{% endmacro %}