{% macro render(args) %}
    <div class="cta-section-04 cta-bg-group-1">
        <div class="container">
            <div class="cta-section-04__wrapper overflow-hidden">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-md-10 co-xs-12 col-sm-12 col-12">
                        <div class="row justify-content-center">
                            <div class="col-xl-6 col-md-8">
                                <div class="cta-section-04__contennt text-center text-xl-start">
                                    <div class="block-title" data-aos="fade-right" data-aos-duration="800">
                                        <h2 class="heading-light title">Custer is available <br class="d-none d-xs-block">  for all devices.</h2>
                                        <p class="heading-light">A Private Limited is the most . The limited liabilityis, in <br class="d-none d-lg-block"> fact, the only company allowed by Companies.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="cta-section-04__button-group m-auto" data-aos="fade-left"
                    data-aos-duration="800">
                                    <a href="#">
                                        <img src="./image/common/appstore.png" class="w-100" alt="app store">
                                    </a>
                                    <a href="#">
                                        <img src="./image/common/playstore.png" class="w-100" alt="app store">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cta-section-04__wrapper--shape-1" data-aos="fade-left" data-aos-delay="1300"  data-aos-duration="1000">
                    <img src="./image/common/cta-shape-1.svg" class="make-it-inline" alt="shape">
                </div>
                <div class="cta-section-04__wrapper--shape-2" data-aos="fade-left" data-aos-delay="1600"  data-aos-duration="1000">
                    <img src="./image/common/cta-shape-2.svg" class="make-it-inline" alt="shape">
                </div>
                <div class="cta-section-04__wrapper--shape-3 floating-Y-animation-reverse-03">
                    <img src="./image/common/cta-shape-3.svg" class="make-it-inline" alt="shape">
                </div>
                <div class="cta-section-04__wrapper--shape-4 circle-animation-02">
                    <img src="./image/common/cta-shape-4.svg" class="make-it-inline" alt="shape">
                </div>
                <div class="cta-section-04__wrapper--shape-5 floating-X-animation-reverse-01">
                    <img src="./image/common/cta-shape-5.svg" class="make-it-inline" alt="shape">
                </div>
            </div>
        </div>
        <div class="cta-bg-group-1--shape-1">
            <img src="./image/common/cta-shape-1.svg" class="make-it-inline" alt="shape">
        </div>
        <div class="cta-bg-group-1--shape-2">
            <img src="./image/common/cta-shape-2.svg" class="make-it-inline" alt="shape">
        </div>
    </div>
{% endmacro %}