{% macro render(args) %}
    <div class="contactmap-section">
        <div class="container-fluid g-0">
            <div class="contactmap-section__map">
                <img src="./image/contact/map.png" class="w-100" alt="map">
                <div class="contactmap-section__map--icon">
                    <img src="./image/contact/map-icon.svg" alt="map-icon">
                </div>
            </div>
        </div>
    </div>
{% endmacro %}