{% macro render(args) %}
    <div class="about-section-05">
        <div class="about-section-05__shape" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
            <img src="./image/home-8/shape.svg" class="w-100" alt="shape">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-6">
                    <div class="about-section-05__image-group mb-mobile-lg" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000">
                        <img src="./image/home-8/about.png" alt="about-img" class="w-100">
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-2 col-lg-6" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                    <div class="about-section-05__content block-title">
                        <h6 class="subtitle text-secondary  mb-20">About Custer</h6>
                        <h2 class="title">Custer teams lead the way to better healthcare & treatments</h2>
                        <p class="text-dark">An enim nullam tempor sapien gravida donec enim ipsum <br class="d-none d-xl-block"/>porta justo integer at odio velna vitae auctor integer congue </p>
                        <a class="btn btn-primary btn-primary-hvr" href="#">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}