{% macro render(args) %}
    <div class="hero-section-08">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10" data-aos="fade-up" data-aos-delay="1300" data-aos-duration="1000">
                    <div class="hero-section-08__content hero-content mb-mobile-lg text-center text-lg-start">
                        <h1 class="title heading-light mb-20">The smartest way to find a doctor.</h1>
                        <p class="text-light text">An enim nullam tempor sapien gravida donec enim ipsum porta <br class="d-none d-xl-block"/>justo  congue magna at pretium purus pretium ligula </p>
                        <div class="hero-section-08__content--button-group">
                            <a href="#">
                                <img src="./image/home-8/appstore.png" class="mw-100" alt="appstore">
                            </a>
                            <a href="#">
                                <img src="./image/home-8/playstore.png" class="mw-100" alt="playstore">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 col-sm-10 col-xs-10">
                    <div class="hero-section-08__image-group" >
                        <img src="./image/home-8/hero.png" alt="hero-img" class="w-100">
                        <div class="hero-section-08__image-group--shape two-way-circle">
                            <img src="./image/home-8/hero-shape-2.svg" class="w-100 h-100 make-it-inline" alt="shape">
                        </div>
                        <div class="hero-section-08__image-group--chat-1 floating-Y-animation-reverse" data-aos="fade-left" data-aos-delay="1500" data-aos-duration="1000">
                            <img src="./image/home-8/chat-1.png" class="w-100 transform-origin-bottom-20p" alt="icon">
                        </div>
                        <div class="hero-section-08__image-group--chat-2 floating-Y-animation" data-aos="fade-right" data-aos-delay="1500" data-aos-duration="1000">
                            <img src="./image/home-8/chat-2.png" class="w-100 transform-origin-top-left" alt="icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}