{% macro render(args) %}
    {% import "components/_widget.njk" as Widget %}

    {% set featureData = [
{   id:1,
    title:"Cardiology",
    icon:"./image/home-8/s-icon-1.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Appmax easily."
},
{   id:2,
    title:"Neurology",
    icon:"./image/home-8/s-icon-2.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Appmax easily."
},
{   id:3,
    title:"Dental service",
    icon:"./image/home-8/s-icon-3.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Appmax easily."
},
{   id:4,
    title:"Eye care service",
    icon:"./image/home-8/s-icon-4.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Appmax easily."
},
{   id:5,
    title:"General checkup",
    icon:"./image/home-8/s-icon-5.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Appmax easily."
},
{   id:6,
    title:"Medicine service",
    icon:"./image/home-8/s-icon-6.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Appmax easily."
}

] %}
    <div class="service-section-02">
        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <h6 class="subtitle text-secondary mb-20">Try our services</h6>
                    <h2 class="title">Get the best caring <br class="d-none d-xs-block"> facilities for everyone</h2>
                    <p class="text-dark"> An enim nullam tempor sapien gravida donec enim <br class="d-none d-xs-block"> a vitae auctor integer congue </p>
                </div>
            </div>
            <div class="row justify-content-center justify-content-sm-start feature-widgets-row">
                {% for item in featureData %}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-8" data-aos="fade-up" data-aos-delay="{{ 200 * item.id }}" data-aos-duration="1000">
                        <a href="#">
                            {{Widget.column({
                                modifier:"service-section-02__card",
                                iconImage:item.icon,
                                title:item.title,
                                fontImg:true,
                                text:item.text,
                                mode:"dark"
                            })}}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}