{% macro render(args) %}
    <div class="testimonil-section-07">
        <div class="testimonil-section-07__shape" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
            <img src="./image/home-8/shape.svg" class="w-100" alt="shape">
        </div>
        <div class="testimonil-section-07__dots" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000">
            <img src="./image/home-8/t-dots.svg" class="w-100" alt="shape">
        </div>
        <div class="container">
            <div class="section-title content-title text-center">
                <h6 class="subtitle text-secondary  mb-20">Testimonial</h6>
                <h2 class="title">See what our members are <br class="d-none d-xs-block">saying about Custer</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-10">
                    <div class="testimonil-section-07__slider">
                        <div class="testimonial-slider--06 mobile-slider">
                            <div class="slide">
                                <div class="testimonil-section-07__content">
                                    <p class="heading-dark text">OMG! I cannot believe that I have got a brand new landing page after getting appmax. It was super easy to edit and publish. </p>
                                    <div class="client-info">
                                        <div class="client-info--img">
                                            <img src="./image/home-5/t-client.png" alt="icon">
                                        </div>
                                        <div class="client-info--texts">
                                            <h6 class="name">Mila McSabbu</h6>
                                            <span class="profession text-dark">Digital Marketer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="testimonil-section-07__content">
                                    <p class="heading-dark text">OMG! I cannot believe that I have got a brand new landing page after getting appmax. It was super easy to edit and publish. </p>
                                    <div class="client-info">
                                        <div class="client-info--img">
                                            <img src="./image/home-5/testimonial-2.png" alt="icon">
                                        </div>
                                        <div class="client-info--texts">
                                            <h6 class="name">Jenny Wilson</h6>
                                            <span class="profession text-dark">Web Developer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="testimonil-section-07__content">
                                    <p class="heading-dark text">OMG! I cannot believe that I have got a brand new landing page after getting appmax. It was super easy to edit and publish. </p>
                                    <div class="client-info">
                                        <div class="client-info--img">
                                            <img src="./image/home-5/testimonial-3.png" alt="icon">
                                        </div>
                                        <div class="client-info--texts">
                                            <h6 class="name">Robert Fox</h6>
                                            <span class="profession text-dark">Founder, Oppora</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-slider--06__control-buttons">
                            <button class="button button--prev"><img src="./image/home-8/slider-arrow.svg" class="make-it-inline" alt="arrow"></button>
                            <button class="button button--next"><img src="./image/home-8/slider-arrow.svg" class="make-it-inline" alt="arrow"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}