{% macro render(args) %}
    <div class="content-section-08">
        <div class="content-section-08__shape-1 circle-x">
            <img src="./image/home-4/content-shape-5.svg" alt="shape" class="make-it-inline">
        </div>
        <div class="content-section-08__shape-2 shape-x-1">
            <img src="./image/home-4/content-shape-6.svg" alt="shape" class="make-it-inline fill-secondary">
        </div>
        <div class="container">
            <div class="content-section-08__tab">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8 col-md-9 col-sm-10 col-xs-11">
                        <div class="content-section-08__tab" data-aos-duration="500">
                            <ul class="nav nav-tabs nav-tab--content-2 nav-tab--content-2--02 " id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link  active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">App security</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Continuous monitoring</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Data storage</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content tab-content--content-2" id="myTabContent" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                    <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-xl-7 col-lg-6 col-md-8 col-sm-10 col-xs-11">
                                <div class="content-section-08__image-group">
                                    <img class="w-100" src="./image/home-4/content-2-img-1.png" alt="content image">
                                    <div class="content-section-08__image-group--card">
                                        <img src="./image/home-4/content-2-card.png" alt="content image">
                                    </div>
                                    <div class="content-section-08__image-group--shape">
                                        <img src="./image/home-4/content-shape-4.svg" alt="content image" class="make-it-inline">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-8 col-11"  data-aos="fade-left" data-aos-delay="500"  data-aos-duration="1000">
                                <div class="content-section-08__content text-center text-lg-start block-title">
                                    <h2 class="title heading-light">We performed with maximum security</h2>
                                    <p class="text-light">Vero homero perfecto mei ut, sonet aperiam an nec. Ni <br class="d-none d-xxl-block"> nec dict altera legimu. Me vita  haeo tibi que com titure <br class="d-none d-xxl-block"> viset cut.Proin tempus elit a laoreet volut pat. </p>
                                    <a class="btn btn-primary btn-primary-hvr" href="#">Download Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row align-items-center justify-content-center ">
                            <div class="col-xl-7 col-lg-6 col-md-7 col-10">
                                <div class="content-section-08__image-group">
                                    <img class="w-100" src="./image/home-4/tab-img-1.png" alt="main image">
                                    <div class="content-section-08__image-group--card">
                                        <img src="./image/home-4/content-2-card.png" alt="content card">
                                    </div>
                                    <div class="content-section-08__image-group--shape">
                                        <img src="./image/home-4/content-shape-4.svg" alt="shape" class="make-it-inline">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-8 col-11">
                                <div class="content-section-08__content text-center text-lg-start block-title">
                                    <h2 class="title heading-light">We performed with maximum security</h2>
                                    <p class="text-light">Vero homero perfecto mei ut, sonet aperiam an nec. Ni <br class="d-none d-xxl-block"> nec dict altera legimu. Me vita  haeo tibi que com titure <br class="d-none d-xxl-block"> viset cut.Proin tempus elit a laoreet volut pat. </p>
                                    <a class="btn btn-primary btn-primary-hvr" href="#">Download Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-xl-7 col-lg-6 col-md-7 col-10">
                                <div class="content-section-08__image-group">
                                    <img class="w-100" src="./image/home-4/tab-img-2.png" alt="content">
                                    <div class="content-section-08__image-group--card">
                                        <img src="./image/home-4/content-2-card.png" alt="content">
                                    </div>
                                    <div class="content-section-08__image-group--shape">
                                        <img src="./image/home-4/content-shape-4.svg" alt="content" class="make-it-inline">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-8 col-11">
                                <div class="content-section-08__content text-center text-lg-start block-title">
                                    <h2 class="title heading-light">We performed with maximum security</h2>
                                    <p class="text-light">Vero homero perfecto mei ut, sonet aperiam an nec. Ni <br class="d-none d-xxl-block"> nec dict altera legimu. Me vita  haeo tibi que com titure <br class="d-none d-xxl-block"> viset cut.Proin tempus elit a laoreet volut pat. </p>
                                    <a class="btn btn-primary btn-primary-hvr" href="#">Download Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}