{% macro render(args) %}
    <div class="content-section-09">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-9 col-sm-9 col-xs-11">
                    <div class="content-section-09__image-group text-center mb-mobile-lg">
                        <img src="./image/home-4/content-1.png" alt="content-image">
                        <div class="content-section-09__image-group--shape-1 shape-x-1 fill-secondary">
                            <img src="./image/home-4/content-1-shape-1.svg" alt="shape" class="make-it-inline">
                        </div>
                        <div class="content-section-09__image-group--shape-2 shape-x-2">
                            <img src="./image/home-4/content-1-shape-2.svg" alt="shape" class="make-it-inline">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6 col-md-9 col-xs-11"  data-aos="fade-up" data-aos-delay="500"  data-aos-duration="1000">
                    <div class="content-section-09__texts text-center text-lg-start">
                        <div class="block-title">
                            <h6 class="subtitle text-secondary mb-20">Track Everything</h6>
                            <h2 class="title">We track your daily expenses with better algorithm & data.</h2>
                            <p class="text-dark">An enim nullam tempor sapien gravida donec enim ipsum porta justo integer at odio velna vitae auctor integer congue magna at pretium purus pretium ligula.</p>
                            <a class="btn btn-primary btn-primary-hvr" href="#">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}