{% macro render(args) %}
    <div class="hero-section-04">
        <div class="hero-section-04__bg-shape">
            <img src="./image/home-4/hero-bg.png" alt="hero image">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-9 col-xs-11">
                    <div class="hero-section-04__content hero-content text-center">
                        <h1 class="heading-light title">Great way to get <br class="d-none d-md-block"> banking services easily</h1>
                        <p class="text-light">An enim nullam tempor sapien gravida donec enim ipsum porta <br class="d-none d-md-block"> justo  congue magna at pretium purus pretium ligula </p>
                        <form action="/" class="form-subscribe-inline--01 hero-section-04__content--form" method="POST">
                            <input type="email" placeholder="Enter your email address" class="form-control">
                            <button class="btn hero-btn btn-primary btn-primary-hvr">Start 14 Days Trial</button>
                        </form>
                    </div>
                    <div class="hero-section-04__image-group">
                        <img src="./image/home-4/hero.png" alt="">
                        <div class="position-relative wrap" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                            <div class="hero-section-04__image-group--half-shape" >
                                <img src="./image/home-4/hero-circal.svg" alt="chircal-bg" class="make-it-inline">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-section-04__shape-1 floating-Y-animation-reverse-02">
            <img src="./image/home-4/hero-shape-1.svg" alt="shape" class="make-it-inline w-100 fill-secondary">
        </div>
        <div class="hero-section-04__shape-2 floating-Y-animation-02">
            <img src="./image/home-4/hero-shape-2.svg" alt="shape">
        </div>
        <div class="hero-section-04__shape-3 circle-animation">
            <img src="./image/home-4/hero-shape-3.svg" alt="shape">
        </div>
    </div>
{% endmacro %}