{% macro render(args) %}
  {% import "components/Cards/pricings.njk" as PricingCard %}
  <div class="pricing-section-02 pricing-section-02--3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="section-title pricing-section-02__title">
            <h2 class="title">We have exclusive plan <br class="d-none d-xs-block"> in our pricing</h2>
            <p class="text-dark">Vero homero perfecto mei ut, sonet aperiam an<br class="d-none d-xs-block"> nec.mpus elit a laoreet volut pat. </p>
          </div>
        </div>
      </div>
      <div class="row three-row-mobile-slider mobile-slider">
        <div class="col-lg-4">
          {{PricingCard.Two({
          img:"./image/home-4/price-icon-1.svg",
          plan:"Starter",
          price:"$5",
          listOne:"10 GB Disk Space",
          listTwo:"1 Year Support",
          listThree:"500 Queries",
          listFour:"Basic Statistics",
          listFive:"Free Custom Domain"
        })}}
        </div>
        <div class="col-lg-4 ">
          <div class="pricing-section-02__wrapper active">
            {{PricingCard.Two({
              active:"active",
              btnActive:"active",
          img:"./image/home-4/price-icon-2.svg",
          plan:"Basic",
          price:"$45",
            listOne:"500 GB Disk Space",
            listTwo:"5 Year Support",
            listThree:"1000 Queries",
            listFour:"Basic Statistics",
            listFive:"Free Custom Domain"
        })}}
          </div>
        </div>
        <div class="col-lg-4">
          {{PricingCard.Two({
          img:"./image/home-4/price-icon-3.svg",
          plan:"Premium",
          price:"$120",
            listOne:"800 GB Disk Space",
            listTwo:"Unlimitedr Support",
            listThree:"Unlimited Queries",
            listFour:"Full Statistics",
            listFive:"Free Custom Domain"
        })}}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}