{% macro render(args) %}
    <div class="contactform-section-02">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <!-- Contact Card Start -->
                    <div class="contact-card">
                        <div class="contact-card__iocn">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="contact-card__body">
                            <p>2118 Thornridge Cir. Syracuse, <br> California 208434</p>
                        </div>
                    </div>
                    <!-- Contact Card End -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <!-- Contact Card Start -->
                    <div class="contact-card">
                        <div class="contact-card__iocn">
                            <i class="fas fa-phone-alt"></i>
                        </div>
                        <div class="contact-card__body">
                            <p>2118 Thornridge Cir. Syracuse, <br> California 208434</p>
                        </div>
                    </div>
                    <!-- Contact Card End -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <!-- Contact Card Start -->
                    <div class="contact-card">
                        <div class="contact-card__iocn">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="contact-card__body">
                            <p>2118 Thornridge Cir. Syracuse, <br> California 208434</p>
                        </div>
                    </div>
                    <!-- Contact Card End -->
                </div>
            </div>
            <div class="row justify-content-center contactform-section-02__map-form">
                <div class="col-xl-6 col-lg-6 col-md-10 mb-mobile-lg">
                    <div class="contactform-section-02__map">
                        <img src="./image/contact/map-2.png" class="w-100" alt="map">
                        <div class="contactmap-section__map--icon">
                            <img src="./image/contact/medium-map-icon.svg" alt="map-icon">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-10">
                    <div class="contactform-section-01__from">
                        <form class="contact-form-02">
                            <div class="contact-form-02--inpute-group">
                                <input class="form-control" type="text" placeholder="Enter your name*">
                            </div>
                            <div class="contact-form-02--inpute-group">
                                <input class="form-control" type="text" placeholder="Enter your email address*">
                            </div>
                            <textarea placeholder="Write your message" cols="30" rows="10"></textarea>
                            <input class="btn btn-secondary btn-secondary-hvr" type="button" value="Send Message">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}