{% macro render(args) %}
    <div class="signin-section-02">
        <div class="signin-section-02__bg">
            <img src="./image/account/signin-2.png" alt="background-image">
        </div>
        <div class="container">
            <div class="row justify-content-center justify-content-lg-end">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-10">
                    <div class="signin-form-02 block-title">
                        <h3 class="title signin-form-02__title">Login to you account</h3>
                        <div class="from__button-group--two mb-5">
                            <a class="account-btn text-dark" href="#">Don’t have an account?</a>
                            <a class="createanaccout-btn" href="#"> Create an account</a>
                        </div>
                        <form action="#" class="from">
                            <div class="from__input-group">
                                <label for="username" class="from__input-group--label text-dark">Enter email
                                address*</label>
                                <input class="from__input-group--input" type="text" placeholder="Enter email address"
                                name="username" id="username" autocomplete="off"/>
                            </div>
                            <div class="from__input-group">
                                <label for="passField"
                                class="from__input-group--label text-dark">Password*</label>
                                <div class="from__pass-box">
                                    <input class="from__input-group--input from__pass-box--input" id="passField"
                                    type="password" placeholder="**********"/>
                                    <i id="eye" class="from__pass-box--eye far fa-eye-slash"></i>
                                </div>
                            </div>
                            <div class="from__check d-flex align-items-center">
                                <div>
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">Remember me</label>
                                </div>
                                <a class="forgot-btn text-dark" href="#">Forgot password?</a>
                            </div>
                            <div class="from__button-group">
                                <div class="from__button-group--one">
                                    <a class="btn btn-secondary btn-secondary-hvr" href="#">Login Now</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}