{% macro render(args) %}
    <div class="content-section-14">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-10 col-xs-10 col-sm-11" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000">
                    <div class="content-section-14__image-group">
                        <img src="./image/home-6/content-2.png" alt="content-image" class="w-100">
                        <div class="content-section-14__image-group--card">
                            <img src="./image/home-6/content-2-card.png" alt="card" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="col-xxl-5 offset-xxl-1 col-lg-6 col-md-8 col-xs-10 col-sm-11 " data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                    <div class="block-title content-section-14__content">
                        <h6 class="subtitle text-secondary  mb-20">Awesome software</h6>
                        <h2 class="title">Get tips and tricks on how to skyrocket your sales with Appmax</h2>
                        <p class="text-dark">An enim nullam tempor sapien gravida donec enim ipsum porta justo integer at
                        odio velna vitae auctor integer congue magna. </p>
                        <a class="btn btn-primary btn-primary-hvr" href="#">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}