{% macro render(args) %}
    {% import "components/_widget.njk" as Widget %}

    {% set featureData = [
{   id:1,
    title:"Wealth Nurturing",
    icon:"./image/home-6/s-icon-1.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Appmax easily."
},
{   id:2,
    title:"Steady Growth",
    icon:"./image/home-6/s-icon-2.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Appmax easily."
},
{   id:3,
    title:"Boost SEO Ranking",
    icon:"./image/home-6/s-icon-3.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Appmax easily."
},
{   id:4,
    title:"App Integration",
    icon:"./image/home-6/s-icon-4.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Appmax easily."
},
{   id:5,
    title:"Best Email Templates",
    icon:"./image/home-6/s-icon-5.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Appmax easily."
},
{   id:6,
    title:"Automated Reminders",
    icon:"./image/home-6/s-icon-6.svg",
    text:"With lots of unique blocks you can easily create a page without coding with Appmax easily."
}

] %}
    <div class="service-section-01">
        <div class="service-section-01__shape" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000">
            <img src="./image/home-6/service-shape.svg" alt="shape" class="w-100">
        </div>
        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <h6 class="subtitle text-secondary ">Services</h6>
                    <h2 class="title">The most useful services <br class="d-none d-xs-block"> for your business</h2>
                    <p class="text-dark">
                An enim nullam tempor sapien gravida donec enim ipsum <br class="d-none d-xs-block"> porta justo integer at odio velna vitae auctor integer.
                </p>
                </div>
            </div>
            <div class="row justify-content-center justify-content-sm-start feature-widgets-row">
                {% for item in featureData %}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-8" data-aos="fade-up" data-aos-delay="{{ 300 * item.id }}" data-aos-duration="1200">
                        <a href="#">
                            {{Widget.column({
                                modifier:"service-section-01__card",
                                iconImage:item.icon,
                                fontImg:true,
                                title:item.title,
                                text:item.text,
                                mode:"dark"
                            })}}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}