{% macro render(args) %}
    {% import "components/Cards/cards.njk" as Card %}

    {% set cardData =[
{
img:"./image/blog/blog-1.png",
title:"Human-Readable JavaScript: How to Compile & Run Your First Java Program",
meta:"Admin",
date:"17 July, 2021",
text:"It is almost impossible to read the news without coming across a lead story elections through fake social media accounts..."
},
{
img:"./image/blog/blog-2.png",
title:"What Are the Best Languages for Web Application Development in 2021?",
meta:"Admin",
date:"10 July, 2021",
text:"It is almost impossible to read the news without coming across a lead story elections through fake social media accounts..."
},
{
img:"./image/blog/blog-3.png",
title:"Optimizing Single-Page Applications: Top 3 Approaches",
meta:"Admin",
date:"28 June, 2021",
text:"It is almost impossible to read the news without coming across a lead story elections through fake social media accounts..."
},
{
img:"./image/blog/blog-4.png",
title:"How to Use the Wagtail CMS for Django: An Overview",
meta:"Admin",
date:"05 June, 2021",
text:"It is almost impossible to read the news without coming across a lead story elections through fake social media accounts..."
},
{
img:"./image/blog/blog-5.png",
title:"Flutter vs React Native vs Xamarin for Cross Platform Development",
meta:"Admin",
date:"25 May, 2021",
text:"It is almost impossible to read the news without coming across a lead story elections through fake social media accounts..."
},
{
img:"./image/blog/blog-6.png",
title:"Best SEO Practices for Developers: Put Your Skills to Work",
meta:"Admin",
date:"28 May, 2021",
text:"It is almost impossible to read the news without coming across a lead story elections through fake social media accounts..."
}

]%}
    <div class="blogcontent-section-01">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5">
                    <!-- Blog Sidebar Start -->
                    <div class="blog-sidebar-01">
                        <div class="blog-sidebar-01--searchbox">
                            <input class="form-control" type="text" placeholder="Type to search...">
                            <div class="icon">
                                <img src="./image/blog/search.svg" alt="search">
                            </div>
                        </div>
                        <div class="blog-sidebar-01--tab">
                            <h4 class="title">Blog Categories</h4>
                            <ul class="nav flex-column nav-pills">
                                <li class="nav-link">Development (15)</li>
                                <li class="nav-link">Website Construction (08)</li>
                                <li class="nav-link">Cyber Security (20)</li>
                                <li class="nav-link">Virtual Assistant (07)</li>
                            </ul>
                        </div>
                        <div class="blog-sidebar-01--posts">
                            <h4 class="title">Recent Posts</h4>
                            <a href="#" class="d-block">
                                <div class="post-blogs">
                                    <div class="post-blogs--img">
                                        <img src="./image/blog/small-blog-1.png" alt="blog-img">
                                    </div>
                                    <div class="post-blogs--texts">
                                        <h6 class="text-dark">Don’t Count on Freeto Win You Customers</h6>
                                        <span class="text-dark">July 02, 2021</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="d-block">
                                <div class="post-blogs">
                                    <div class="post-blogs--img">
                                        <img src="./image/blog/small-blog-2.png" alt="blog-img">
                                    </div>
                                    <div class="post-blogs--texts">
                                        <h6 class="text-dark">Is Your Organization Building Bridges?</h6>
                                        <span class="text-dark">June 07, 2021</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="d-block">
                                <div class="post-blogs">
                                    <div class="post-blogs--img">
                                        <img src="./image/blog/small-blog-3.png" alt="blog-img">
                                    </div>
                                    <div class="post-blogs--texts">
                                        <h6 class="text-dark">What Makes a Degree Review Successful?</h6>
                                        <span class="text-dark">May 28, 2021</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="d-block">
                                <div class="post-blogs">
                                    <div class="post-blogs--img">
                                        <img src="./image/blog/small-blog-4.png" alt="blog-img">
                                    </div>
                                    <div class="post-blogs--texts">
                                        <h6 class="text-dark">Getting Your Team to Buy into a Big Change</h6>
                                        <span class="text-dark">March 03, 2021</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="blog-sidebar-01--tags">
                            <h4 class="title">Tags</h4>
                            <div class="tag">
                                <a class="tag-item active" href="#">Cyber security</a>
                                <a class="tag-item" href="#">Hacker</a>
                                <a class="tag-item" href="#">Blockchain</a>
                                <a class="tag-item" href="#">News</a>
                                <a class="tag-item" href="#">Password</a>
                                <a class="tag-item" href="#">Security</a>
                                <a class="tag-item" href="#">SafetySupport</a>
                                <a class="tag-item" href="#">Service</a>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Sidebar End -->
                </div>
                <div class="col-xl-8 col-lg-7">
                    <div class="row widgets-row">
                        {% for item in cardData%}
                            <div class="col-md-6">
                                {{Card.BlogCard01({
                        img:item.img,
                        title:item.title,
                        text:item.text,
                        meta:item.meta,
                        date:item.date
                    })}}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="blogcontent-section-01__pagination">
                        <ul class="pagination m-0 p-0">
                            <li class="page-item previous">
                                <a  href="#">
                                    <i
                                    class="fas fa-chevron-left"></i>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a  href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a  href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a  href="#">3</a>
                            </li>
                            <li class="page-item next">
                                <a  href="#">
                                    <i
                                    class="fas fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}